<script type = 'text/javascript'>
var admin = true;
</script><%= javascript_include_tag 'attendance.js' %>
<style type = 'text/css'>
.locked{
	/*background-color: red;*/
	/*position:fixed;*/
	/*top:0px;*/
}
.locked-left{
	/*left:0px
	;*/
	/*position: absolute;*/
}
#rowspacer{
	/*height:200px;*/
}
#save-btn{
	margin:25px;
}
#master-table{
	margin-left: 0px;
}
.highlighted {
    /*color: #261F1D !important;*/
    background-color: #5bc0de;
}
#header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}
.attendance-checkbox:hover{
	cursor:pointer;
}
.attendance-checkbox{
	text-align:center;
}
.locked-left:hover{
	cursor:default;
}
</style>

<h1>Attendance</h1>

<div id ='button-div'>
<button type='button' class='btn btn-default' id = 'save-btn'>Save Changes</button>
</div>


<table class='table table-condensed table-hover table-bordered' id='table-1'>

	<div id='original-thead'>
	<thead class='locked' id = 'original-fixed-head'>
		<th>Members</th>
		<% @semester_events.pluck(:name).each do |event_name| %>
		<th><%= event_name %></th>
		<% end %>
	</thead>
	</div>

	


	<tbody>
		<tr id='rowspacer'></tr>
		<% @current_cms.each do |cm| %>
		<tr class = 'member-row'>
			<td class='locked-left'><%= cm.name %></td>
			<% @mappings_dict[cm.id].each do |e_data|%>
				<td class='attendance-checkbox' id='<%= e_data['id'] %>,<%= cm.id %>'><% if e_data['attended'] %>X<% end %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>

</table>