<style type = 'text/css'>
#content-div{
	margin: 25px;
}
#second-row{
	margin-top:30px;
}
</style>
<h1>Points</h1>
<div id='content-div'>


<div class = 'row' id='first-row' >
	<div class = "col-md-3">
		<div class="panel panel-danger">
		  <div class="panel-heading"><b>Attended Events</b></div>
		  <div class="panel-body">
			<% @attended_event_point_name_data.each do |data| %>
			<div id='attended-event-div'><%= data['event'] %> : <%= data['points'] %></div>
			<% end %>
		  </div>
		</div>
	</div>

	<div class = "col-md-3">
		<div class="panel panel-primary">
		  <div class="panel-heading"><b>Your Committee's Points</b></div>
		  <div class="panel-body">
			<% @attended_event_point_name_data.each do |data| %>
			<div id='attended-event-div'><%= data['event'] %> : <%= data['points'] %></div>
			<% end %>
		  </div>
		</div>
	</div>

	<div class = "col-md-3">
		<div class="panel panel-danger">
		  <div class="panel-heading"><b>Top CMS</b></div>
		  <div class="panel-body">
			<% @points_list.first(10).each do |data| %>
			<div><%= data['name'] %> earned <%= data['points'] %></div>
			<% end %>
		  </div>
		</div>
	</div>

	<div class = "col-md-3">
		<div class="panel panel-primary">
		  <div class="panel-heading"><b>Committee Points</b></div>
		  <div class="panel-body">
			<% @committee_points.each do |data| %>
			<div><%= data["committee"] %>: <%= data["points"] %></div>
			<% end %>
		  </div>
		</div>
	</div>

<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    <span class="sr-only">20% Complete</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <span class="sr-only">60% Complete (warning)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    <span class="sr-only">80% Complete (danger)</span>
  </div>
</div>

</div> <!-- end of first row -->

<div class = 'row' id='second-row'>
	<div class = 'col-md-4'>
		<b>All Points</b>
		<% @points_list.each do |data| %>
		  <%= data['points'] %>,
		<% end %>
	</div>
</div><!-- end of second row -->
</div>
<!-- end of content div -->