<style type = 'text/css'>
#content-div{
	margin: 25px;
}
#second-row{
	margin-top:30px;
}
</style>
<h1>Points</h1>
<div id='content-div'>

<div class = 'row' id='first-row' >

	<div class = 'col-md-3'>
	<b>Attended Events</b>
	<% @attended_event_point_name_data.each do |data| %>
	<div id='attended-event-div'><%= data['event'] %> : <%= data['points'] %></div>
	<% end %>
	</div>


	<div class='col-md-3'>
	<b>Your Committee's Points</b>
	<% @cm_points_list.each do |data| %>
	<div><%= data['name'] %> earned <%= data['points'] %></div>
	<% end %>
	</div>

	<div class = 'col-md-3'>
	<b>Top CMS</b>
	<% @points_list.first(10).each do |data| %>
	<div><%= data['name'] %> earned <%= data['points'] %></div>
	<% end %>
	</div>

	<div class = 'col-md-3'>
	<b>Committee Points</b>
	<% @committee_points.each do |data| %>
	<div><%= data["committee"] %>: <%= data["points"] %></div>
	<% end %>
	</div>
</div> <!-- end of first row -->

<div class = 'row' id='second-row'>
	<div class = 'col-md-4'>
		<b>All Points</b>
		<% @points_list.each do |data| %>
		  <%= data['points'] %>,
		<% end %>
	</div>
</div><!-- end of second row -->
</div>
<!-- end of content div -->