<style type = 'text/css'>
.group-link{
	text-decoration: none;
 	color:inherit;
}
.group-image-div{
	margin:5px;
}
.entire-group-container{
	/*border:1px solid black;*/
}
.group-image-div{
	float: right;
	margin-left:15px;
	/*border: 1px solid black;*/
}
</style>
<div class = 'entire-group-container'>
<table>
	<td>
<div class = 'group-div'>
	<% if is_primary_group %>
	<div class = 'label label-primary'>
	<% else %>
	<div class = 'label label-default'>
	<% end %>
	<%= group.name %>
	</div>
	<!-- end of labe label-primary thing -->
	<div class = 'group-list'>
		<% group.get_members.each do |member| %>
		<div><%= image_tag member.profile_url, :height=>20 %> <%= member.name %></div> 
		<% end %>
	</div>
</div>

	</td>
	<td>

<div class = 'group-image-div'>
	<% if group.photos.length>0 %>
	<div><%= group.name %>'s Photo</div>
	<% if is_primary_group %>
	<div><a href = '/scavenger_groups/<%= group.id %>/add_photo'>Update Photo</a></div>
	<% end %>
	<a href = '/scavenger_photos/<%= group.photos.first.id %>'><%= image_tag group.photos.first.image, :height=>125 %></a>
	<% else %>
	<div>No Photo</div>
	<% if is_primary_group %>
	<div><a href = '/scavenger_groups/<%= group.id %>/add_photo'>Upload Photo</a></div>
	<% end %>
	<% end %>

</div>
<!-- end of group image div div -->
</td>
</table>
</div>
<!-- end of entire group container -->