<h1>Confirm Photos</h1>

<% @unconfirmed.each do |photo| %>
	<%= photo %>
<% end %>


<%= @unconfirmed.length %>
<%= @confirmed.length %>
<%= ScavengerPhoto.all.length %>

<% ScavengerPhoto.all.each do |photo| %>
<%= photo.confirmation_status %>
<% end %>
