<style type='text/css'>
.panel-title{
	text-align:center;
	font-size:25px;
}
</style>
<h1>Spring 2015 Themes</h1>


<div id = 'personal stuff'>
<h1>Personal Stuff</h1>
	<% ScavengerGroup.get_groups(current_member.id).each do |group| %>
	<div><%= group.name %>
		<ul>
			<% group.get_members.each do |member| %>
			<li><%= member.name %></li>
			<% end %>
		</ul>
		<a href = '/scavenger_groups/<%= group.id %>/add_photo'>Upload for this group</a>
	</div>
	<% end %>
</div>

<div id = 'leaderboard'>
<h1>Leaderboard</h1>
	<% @people.each do |person| %>
	<div><%= person.name %>: <%= person.scavenger_points %>
	</div>
	<% end %>
</div>


<h1>Other Stuff</h1>
<div class = 'col-md-8'>
<% @themes.each do |theme| %>
<div class = 'theme-div panel panel-default'>
    <div class = 'panel-heading'><h2 class = 'panel-title'><%= theme.name %></h2></div>
	<div class = 'panel-body'
	<p><div><b>Description:</b> <%= theme.description %></div>
		<div><b>Start Time:</b> <%= theme.start_time.strftime("%d/%m/%Y at %H:%M") %></div>
		<div><b>End Time:</b> <%= theme.end_time.strftime("%d/%m/%Y at %H:%M") %></div>
	</p>

	<p><h4><b>Photos</b></h4>
		<% theme.get_photos.each do |photo| %>
		<%= image_tag photo.image, :height=>150 %>
		<% end %>
	</p>
	</div>

</div>
<% end %>

</div>
<!-- end of left col -->