<script type = 'text/javascript'>
function submitRankings(){
	var r = confirm("You are about to update rankings, are you sure?");
	if (r == false){
		return;
	}
	ranking_data = [];
	$('.applicant-row').each(function(){
		row_data = {};
		row_data['applicant_id'] = $(this).attr('id');
		row_data['rank_value'] = $(this).children(".applicant-rank-td").children(".applicant-rank-input").val();
		ranking_data.push(row_data);
	});
	console.log(ranking_data);
	console.log("that was ranking_data");
	$.ajax({
      url:'/deliberations/<%= @deliberation.id %>/update_rankings?committee_id=<%= @committee.id %>',
      type: "POST",
      data: {"ranking_data": ranking_data},
      success:function(data){
        // alert('completed');
        alert(data);
      },
      complete:function(){
      	
      },
      error:function (xhr, textStatus, thrownError){
        alert('failed');
      }
  });
}
function compare(a,b) {
  if (a['rank'] < b['rank'])
     return -1;
  if (a['rank'] > b['rank'])
    return 1;
  return 0;
}

function reorderRankings(){
	rows = [];
	$('.applicant-row').each(function(){
		row = {};
		row['html'] = $(this)
		row['rank'] = parseInt($(this).children(".applicant-rank-td").children(".applicant-rank-input").val());
		rows.push(row);
	});
	rows.sort(compare);
	console.log(rows);
	$('.applicant-row').each(function(){
		$(this).remove();
	});
	for(var i=0;i<rows.length;i++){
		$("#ranking-table-body").append(rows[i]['html']);
	}
	reorderActions();
}
function reorderActions(){
	$('.applicant-rank-input').keyup(function (event) {
        if (event.keyCode == '13') {
        	reorderRankings();  	
        }
    });
    $('.applicant-rank-input').focusout(function() {
        reorderRankings();  	
    });
    boldActions();

}
function boldActions(){
	$('.applicant-row').click(function(){
		$('.selected-row').removeClass('selected-row');
		$(this).addClass("selected-row");

		// selected_canvas = $(".selected-row").children('.applicant-canvas-td').children('.applicant-canvas')[0];
		// canvas = document.getElementById('preview-canvas');
		// context = canvas.getContext("2d"),
		// pic = selected_canvas;
		// context.drawImage(pic, 0, 0, 320, 240);
		selected_img = $(".selected-row").children('.applicant-img-td').children('.applicant-img')[0];
		preview_img = $("#preview-img");
		$(preview_img).attr('src', selected_img.src);// = selected_img.src;
	});
}

// Converts canvas to an image
function convertCanvasToImage(canvas) {
	var image = new Image();
	image.src = canvas.toDataURL("image/png");
	return image;
}
$(document).ready(function(){
	$("#update-rankings-btn").click(function(){
		submitRankings();
	});	
	reorderActions();
	reorderRankings(); 
	
	boldActions();
	

})
</script>

<style type = 'text/css'>
.applicant-rank-input{
	width: 50px;
}
.selected-row{
	font-weight:bold;
}
.applicant-row:hover{
	cursor:pointer;
}
</style>
<h1>Ranking Applicants To <%= @committee.name %> For <a href = '/deliberations/<%= @deliberation.id %>'><%= @deliberation.name %></a></h1>

<div class = 'col-md-8'>
	<button id = 'update-rankings-btn' class = 'btn btn-default'>Update Rankings</button>
	<h3>Ranked Applicants</h3>
	<table class = 'table table-striped'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Rank</th>
				<th>Image</th>
				<th>Preferences</th>
			</tr>
		</thead>

		<tbody id = 'ranking-table-body'>
			<% @applicants.each do |applicant| %>
			<tr class = 'applicant-row' id = '<%= applicant.id %>'>
				<td class = 'applicant-name-td'><a href = '/applicants/<%= applicant.id %>'><%= applicant.name %></a></td>
				<td class = 'applicant-rank-td'><input type = 'text' class = 'applicant-rank-input form-control' value = '<%= applicant.committee_rank(@committee.id).value %>'/></td>
				<td class = 'applicant-img-td'><img class = 'applicant-img' id ='img-<%= applicant.id %>'  width="64" height = "48" src = '<%= applicant.image %>'></img></td>
				<td class = 'applicant-preferences-td'><%= applicant.first_choice_committee.abbr %>, <%= applicant.second_choice_committee.abbr %>, <%= applicant.third_choice_committee.abbr %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>




<div class = 'col-md-4'>
<img id = 'preview-img' width = "320" height = "240"></img>
</div>

