<h1><%= @deliberation.name %></h1>

<div class='col-md-8'>
	<h2>Applicants</h2>
	<table class = 'table table-striped'>
		<thead>
			<tr>
				<th>Name</th>
				<th>First Choice</th>
				<th>Second Choice</th>
				<th>Third Choice</th>
			</tr>
		</thead>
		<tbody>
			<% @applicants.each do |applicant| %>
			<tr>
				<td><a href = '/applicants/<%= applicant.id %>'><%= applicant.name %></a></td>
				<td><%= applicant.first_choice_committee.name %></td>
				<td><%= applicant.second_choice_committee.name %></td>
				<td><%= applicant.third_choice_committee.name %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>


<div class = 'col-md-4'>
	<h2><a href = '/deliberations/<%= @deliberation.id %>/rank_applicants/?committee_id=<%= current_member.current_committee.id %>'>Rank Applicants</a></h2>
	<h2><a href = '/deliberations/<%= @deliberation.id %>/results'>View Results</a></h2>
	<h2><a href = '/deliberations/<%= @deliberation.id %>/settings'>Settings</a></h2>
	<h2><a href = '/deliberations/<%= @deliberation.id %>/add_applicant'>Add Applicant</a></h2>
	
</div>