<% if cards.length == 0 %>
<h6>nothing to show</h6>
<% end %>
<% cards.sort{|a,b| a.due && b.due ? a.due <=> b.due : a.due ? -1 : 1 }.each do |card| %>
	<% if type == "Complete" %>
	<li class = 'list-group-item <%= board_id %>-li small' id = '<%= card.id %>-row'>
	<% else %>
	<li class = 'list-group-item <%= board_id %>-li' id = '<%= card.id %>-row'>
	<% end %>
		<div class = 'main-content'>
		<% if type == "Complete" %>
		<input type="checkbox" class = 'task-checkbox' id = '<%= card.id %>' checked>
		<% else %>
		<input type="checkbox" class = 'task-checkbox' id = '<%= card.id %>'>
		<% end %>
		<a class = 'card-modal-link' id = '<%= card.id %>' data-toggle="modal" data-target="#taskCardModal" href = '#'><%= card.name %></a>
		<% card.card_labels.each do |label| %>
			<div class = 'label label-default' style = 'background-color:<%= label['color'] %>'><%= label['name'] %></div>
		<% end %>
		</div> <!-- end of main-content -->
		<div class = 'text-muted text-detail'><%= due_string(card.due) %></div>
		<!-- <div class = 'text-muted text-detail card-description'><%= card.desc.gsub /{{.*}}/, '' %></div> -->
		<div class = 'text-muted text-detail'>
			<% if card_hash.keys.include?(card.id) %>
				Task Created By: 
				<% card_hash[card.id].assigner_emails.each do |email| %>
				<img src = '<%= member_email_hash[email].gravatar_url %>' class = 'profile-image profile-image-tiny' ></img>
				<% end %>
			<% end %>
			<!-- TODO save keys in single variabel -->
			<% if card_hash.keys.include?(card.id) %>
				Assignees: 
				<% card_hash[card.id].assigned_emails.each do |email| %>
				<img src = '<%= member_email_hash[email].gravatar_url %>' class = 'profile-image profile-image-tiny' ></img>
				<% end %>
			<% end %>
		</div>
		<div class = 'text-muted text-detail'>
			
		</div>
		<div style = 'display:none' class = 'hidden-card-info'><%= card.to_json %></div>
	</li>
<% end %>