<style type = 'text/css'>
.small{
	text-decoration: line-through;
	opacity:0.3;
}
</style>

<table class = 'table table-condensed'>
	
	<tbody>
		<% [false, true].each do |state| %>
		<div id = '<%= state %>-cards'>
			<% cards.select{|x| x.closed? == state}.each do |card| %>
			<% if card.closed? %>
			<tr class = 'small' id = '<%= card.id %>-row'>
			<td><input type="checkbox" class = 'task-checkbox' id = '<%= card.id %>' checked = 'checked'></td>
			<% else %>
			<tr id = '<%= card.id %>-row'>
			<td><input type="checkbox" class = 'task-checkbox' id = '<%= card.id %>'></td>
			<% end %>
				<td><%= list_hash[card.list_id].name %></td>
				<td><a href = '<%= card.url %>' target = '_blank'><%= card.name %></a>
					<% card.card_labels.each do |label| %>
						<div class = 'label label-default' style = 'background-color:<%= label['color'] %>'><%= label['name'] %></div>
					<% end %>
				</td>
				<td><%= ParseTrelloList.due_string(card.due) %></td>
			</tr>
			<% end %>
		<% end %>
		</div>
	</tbody>
</table>


<script type = 'text/javascript'>
function activateTaskCheckbox(){
	$('.task-checkbox').click(function(){
		// alert($(this).attr('id'));
		id = $(this).attr('id');
		row = $('#' + id + '-row');
		if($(row).hasClass('small')){
			$(row).removeClass('small');
		}
		else{
			$(row).addClass('small');
		}
	});
}
activateTaskCheckbox();
</script>