<style type = 'text/css'>
.small{
	text-decoration: line-through;
	opacity:0.3;
}
.list-option{
}
.task-list-card{
	/*border:1px solid rgba(0,0,0,0.1);*/
	margin:10px;	
	border-radius:5px;
	background-color: rgba(247, 247, 247, 0.85);
	  border-radius:5px;
	  padding: 10px;
}
.text-detail{
	font-size:10px;
}
a.anchor{display: block; position: relative; top: -100px; visibility: hidden;}
</style>

<!-- <table class = 'table table-condensed'> -->
	<%= render partial: "card_modal" %>
	<!-- <tbody> -->
	<% if cards == nil or cards.length == 0 %>
	<p>No cards displayed? Join our Trello Board to start creating and receiving tasks! <a href = 'http://pbl.link/trello'>pbl.link/trello</a></p>
	<% end %>

	<h4>Your Task Boards</h4>
	<p>Please contact Web Development Chairs to register a custom board
	<ul class = 'list-group'>
		<% @boards.map{|x| x.board_id}.each do |board_id| %>
		<li class = 'list-group-item'><a href = '#<%= board_id %>-card-anchor'><%= board_hash[board_id].name %></a></li>
		<% end %>
	</ul>
	
	<% @boards.map{|x| x.board_id}.each do |board_id| %>

		<div class = 'task-list-card shadow-z-1'>
			
			<h4><a class="anchor" id = '<%= board_id %>-card-anchor'></a><a href = 'http://trello.com/b/<%= board_id %>' target = '_blank'><%= board_hash[board_id].name %></a></h4>
			<a href = '/tasks/create?board_id=<%= board_id %>'>Add a task to <%= board_hash[board_id].name %></a>
			<h6>Tasks</h6>
				<ul class = 'list-group'>
				<div id = '<%= board_id %>-doing-cards' class = 'doing-cards'>
						<%= render partial: "board_cards", locals: {card_hash: card_hash, board_id: board_id, cards: cards.select{|x| x.board_id == board_id},trello_member_hash: trello_member_hash, member_email_hash: member_email_hash, type: "Incomplete"} %>
				</div>
				<div id = '<%= board_id %>-pulled-cards' class = 'pulled-cards'>
				</div>
				</ul>
				
				<div><a class = 'toggle-done' id = '<%= board_id %>-toggle-done' href = 'javascript:void(0);'>Show Completed Tasks</a></div>
				<div><a class = 'toggle-pulled' id = '<%= board_id %>-toggle-pulled' href = 'javascript:void(0);' style = 'display:none'>Hide Completed Tasks</a></div>
		</div>
	<% end %>
	<!-- </tbody> -->
<!-- </table> -->

<%= javascript_include_tag "tasks_modal" %>
<script type = 'text/javascript'>
function activateTaskCheckbox(){
	$('.task-checkbox').unbind('click').click(function(){

		id = $(this).attr('id');
		row = $('#' + id + '-row');
		//show loading 
		loading_image_src = 'http://wpc.077d.edgecastcdn.net/00077D/fender/images/2013/template/drop-nav-loader.gif'
		$(row).append("<img src='"+loading_image_src+"' style = 'height:15px' id = '"+id+"-loading-image'></img>");

		card_data = JSON.parse($(row).find('.hidden-card-info').html());
		board_id = card_data.board_id
		list_id = card_data.list_id
		checked = false;
		if ($(this).is(':checked')){
			checked = true;
		}
		that = $(this);
		$.ajax({
	      url: '/tasks/update',
	      type: 'POST',
	      data: {card_id: card_data.id, list_id: card_data.list_id, board_id: card_data.board_id, checked: checked},
	      success:function(data){
	        //toggle done or not
	        
			if($(row).hasClass('small')){
				$(row).removeClass('small');
				$('#'+board_id+'-doing-cards').prepend(row);
				$('#'+id+'-loading-image').remove();
			}
			else{
				// $(row).addClass('small');
				$(row).remove();
			}
	      },
	      error:function (xhr, textStatus, thrownError){
	      	console.log("errror");
	      	console.log(xhr);
	        $(that).attr('checked', false);
	      }
	  	});
	});
}
function activateToggleDone(){
	$('.toggle-pulled').click(function(){
		board_id = $(this).attr('id').split('-')[0];
		$('#'+board_id+'-pulled-cards').html('');

		$('#'+board_id+'-toggle-done').text('Show Completed Tasks');
		$(this).hide();
	});
	$('.toggle-done').click(function(){
		board_id = $(this).attr('id').split('-')[0];
		// ajax request to get
		// that = $(this); 

		//show loading 
		loading_image_src = 'http://wpc.077d.edgecastcdn.net/00077D/fender/images/2013/template/drop-nav-loader.gif'
		$('#'+board_id+'-pulled-cards').append("<img src='"+loading_image_src+"' style = 'height:50px' id = '"+board_id+"-loading-image'></img>");
		$.ajax({
	      url: '/tasks/board_cards/'+board_id,
	      type: 'GET',
	      success:function(data){
	      	$('#'+board_id+'-pulled-cards').html('');
	      	// $('#'+board_id+'-loading-image').remove();
	        $('#'+board_id+'-pulled-cards').append(data);

	        // rename the links
	        $('#'+board_id+'-toggle-done').text('Refresh Completed Tasks');
	        $('#'+board_id+'-toggle-pulled').show();
	        activateTaskCheckbox();
	        pullModalContentActions(); // from tasks_modal included javascript in assets
	        // $(that).hide();
	      },
	      error:function (xhr, textStatus, thrownError){
	      	$('#'+board_id+'-loading-image').remove();
	        alert('failed to pull cards');
	      }
	  });
		
	});
}
activateTaskCheckbox();
activateToggleDone();
activatePopovers();
</script>