<style type = 'text/css'>
.completed-check-item{
	text-decoration: line-through;
}
.inner-p{
	font-size:13px;
	margin-left:25px;
	border-radius:3px;
}
.section-div{
	border:1px solid rgba(0,0,0,0.1);
	margin:5px;
	padding:10px;
	background-color: rgba(215, 215, 215, 0.1);
	border-radius:3px;
}
.comment-div{
	margin:5px;
	padding:10px;
	border:1px solid rgba(0,0,0,0.1);
	background-color:white;
	border-radius:3px;
}
#comment-input-div{
	margin:5px;
	padding:10px;
	border:1px solid rgba(0,0,0,0.1);
	border-radius:3px;
	/*background-color:white;*/
}
#comment-input{
	width:100%;
	border:1px solid rgba(0,0,0,0.1);

}
#card-description-input{
	width:100%;
	border:1px solid rgba(0,0,0,0.1);
	min-height:100px;

}
.smalltext{
	font-size:10px;
}
</style>
<h4><a href ='<%= @card.url %>'><%= @card.name %></a></h4>

<% if @card.due %>
<h4><div class = 'label label-material-red-700'>Due <%= ParseTrelloList.due_string(@card.due) %></div></h4>
<% end %>


<h5>Labels</h5>
<div class = 'inner-p section-div'>
<% if @card.card_labels.length > 0 %>
<% @card.card_labels.each do |label| %>
<div class = 'label label-default' style = 'background-color:<%= label['color'] %>' target = '_blank'><%= label['name'] %></div>
<% end %>
<% else %>
<span class = 'text-muted'>There are no labels for this card</span>
<% end %>
</div>


<h5>Members</h5>
<div class = 'inner-p section-div'>
	Created By: 
	<% @assigned_by.each do |email| %>
	<img src = '<%= @member_email_hash[email].gravatar_url %>' class = 'profile-image profile-image-small'></img>&nbsp;
	<% end %>
</div>
<div class = 'inner-p section-div'>
	Collaborators: 
	<% @assigned.each do |email| %>
	<img src = '<%= @member_email_hash[email].gravatar_url %>' class = 'profile-image profile-image-small'></img>&nbsp;
	<% end %>
</div>


<h5>Description</h5>
<div class = 'inner-p section-div'>

<div class = 'description-container'>
	<div id = 'card-description'><%= simple_format(@card.desc) %></div>
	<textarea id = 'card-description-input' style = 'display:none' class = 'input-sm'><%= @card.desc %></textarea>
</div>
<div id = 'description-options-container'>
	<a id = 'edit-description-link' href = 'javascript:void(0);'>Edit this description</a>
	<a id = 'save-description-link' style = 'display:none' href = 'javascript:void(0);'>Save</a>
	<a id = 'cancel-description-link' style = 'display:none' href = 'javascript:void(0);'>Cancel</a>
	<img id = 'description-loader' src = '<%= loading_image %>' height=25 style = 'display:none'></img>
</div>


</div>


<h5>Checklists</h5>
<div class = 'inner-p section-div'>

	<% if @card.checklists.length >0 %>
	<% @card.checklists.each do |checklist| %>
			<ul class = 'list-group'><%= checklist.name %>
				<% checklist.check_items.each do |check_item| %>
				<% if check_item['state'] == 'complete' %>
				<li class = 'list-group-item completed-check-item'><%= check_item['name'] %></li>
				<% else %>
				<li class = 'list-group-item'><%= check_item['name'] %></li>
				<% end %>
				<% end %>
			</ul>
	<% end %>
	<% else %>
	<span class = 'text-muted'>There are no checklists for this card</span>
	<% end %>
</div>


<h5>Attachments</h5>
<div class = 'inner-p section-div' id = 'attachments-section'>
<% if @card.attachments.length == 0 %>
	<span class = 'text-muted'>There are no attachments on this task</span>
<% else %>
<% @card.attachments.each do |attachment| %>
	<div class = 'attachment-div comment-div'>
		<% if attachment.url.include?('.png') or attachment.url.include?('.jpg') or attachment.url.include?('.jpeg') or attachment.url.include?('.gif') %>
		<img src='<%= attachment.url %>' height = "150px"></img>
		<% else %>
		<iframe src='<%= attachment.url %>' height = "200px" width = '200px'></iframe>
		<% end %>
<!-- 		<img src = '<%= attachment.url %>' height=50></img>
 -->		<a href = '<%= attachment.url %>' target = '_blank'><%= attachment.name %></a>
	</div>
<% end %>
<% end %>

<div style = 'border-top:1px solid rgba(0,0,0,0.1);margin-top:10px'>
	<div class = 'text-muted smalltext'>Since we cannot handle file attachments currently, we'll send you to Trello to create a new attachment. The task will open in a new tab.</div>
	<a href = '<%= @card.url %>' target = '_blank'>Create a new attachment</a>
</div>

</div><!-- end of attachments div -->


<h5>Comments</h5>
<div class = 'inner-p section-div' id = 'comments-section'>

	<% if @comments and @comments.length>0 %>
	<%@comments.each do |comment| %>
	<% if @trello_member_hash and @trello_member_hash.keys.include?(comment.member_creator_id) %>
	<div class = 'comment-div'><img src = '<%= @trello_member_hash[comment.member_creator_id].gravatar_url %>' class = 'profile-image profile-image-small'></img> <%= comment.data['text'] %></div>
	<% else %>
	<div class = 'comment-div'><%= comment.data['text'] %></div>
	<% end %>
	<% end %>

	
	<% else %>
	<span class = 'text-muted'>There are no comments on this card</span>
	<% end %>

	<div id = 'comment-input-div'>
		<input id = 'comment-input' type = 'text' class = 'input-sm' placeholder = 'Have a commment?'></input>
		<button id = 'comment-btn' class = 'btn btn-material-purple-500'>Add A Comment</button>
		<img id = 'comment-loader' src = '<%= loading_image %>' height=25 style = 'display:none'></img>
	</div>
</div>






<div><a href = '<%= @card.url %>' target = '_blank'>View the card in Trello</a></div>



<script type = 'text/javascript'>
$('#edit-description-link').click(function(){
	$('#edit-description-link').hide();
	$('#card-description').hide();
	$('#save-description-link').show();
	$('#cancel-description-link').show();
	$('#card-description-input').show();
	$('#card-description-input').val($('#card-description').text());
});
$('#cancel-description-link').click(function(){
	$('#edit-description-link').show();
	$('#card-description').show();
	$('#save-description-link').hide();
	$('#cancel-description-link').hide();
	$('#card-description-input').hide();
});
$('#save-description-link').click(function(){
	card_id = '<%= @card.id %>';
	description = $('#card-description-input').val();
	$('#description-loader').show();
	$.ajax({
      url: '/tasks/update_description/'+card_id,
      type: 'POST',
      data: {'description': description},
      success:function(data){
      	$('#description-loader').hide();
        $('#card-description').html(description);

        $('#edit-description-link').show();
		$('#card-description').show();
		$('#save-description-link').hide();
		$('#cancel-description-link').hide();
		$('#card-description-input').hide();

      },
      error:function (xhr, textStatus, thrownError){
      	$('#description-loader').hide();
        alert('failed');
      }
  });
});
$('#comment-btn').click(function(){
	comment = $('#comment-input').val();
	card_id = '<%= @card.id %>';
	that = $(this);
	$('#comment-loader').show();
	$.ajax({
	      url: '/tasks/add_comment/'+card_id,
	      type: 'POST',
	      data: {'comment': comment},
	      success:function(data){
	      	$('#comment-loader').hide();
	      	$('#comment-input').val('');
	        //add a comment to the comments section
	        console.log(data);
	        comment_div = document.createElement('div');
	        image = document.createElement('img');
	        $(image).attr('src', '<%= current_member.gravatar_url %>');
	        $(image).addClass('profile-image');
	        $(image).addClass('profile-image-small');
	        $(comment_div).addClass('comment-div');
	        $(comment_div).append(image);
	        $(comment_div).append(comment);
	        $('#comments-section').prepend(comment_div);
	      },
	      error:function (xhr, textStatus, thrownError){
	      	$('#comment-loader').hide();
	        alert('failed');
	      }
	  });
})
</script>