<style type = 'text/css'>
#task-name-input{
	width:100%;
}
#task-description-input{
	width:100%;
}
.input-sm{
	width:100%;
	border:1px solid rgba(0,0,0,0.1);
}
.member-div{
	padding:5px;
}
.member-div:hover{
	/*margin:5px;*/
	cursor:pointer;
}
.smalltext{
	font-size:10px;
}
.member-unregistered-div{
	float:left; margin-left:15px;
}
.label.label-primary{
  clear: both;
  margin: 3px;
  display: block;
  width: 50%;
  padding:5px;
  border-radius:3px;
}
.label.label-primary:hover{
	cursor:pointer;
}
.label.label-primary.selected-label{
	width:75%;
}

.create-card{
	margin:10px;	
	border-radius:5px;
	background-color: rgba(247, 247, 247, 0.85);
  border-radius:5px;
  padding: 10px;
}
.profile-image.profile-image-small{
	height:17px;
}

#due-date-icon{
	margin-top:3px;
	display:inline;
	font-size:17px;
	color:#428bca;
}
</style>

<%= stylesheet_link_tag 'datetimepicker.min.css' %>

<!-- <link rel = 'stylesheet' href = 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css'/> -->
<!-- <script type = 'text/javascript' src = 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js'></script> -->
<h1 style = 'text-align:center'><img src = '/assets/trello-logo.png' height=50></img> Create a Task</h1>


<div class = 'row'>
<div class = 'col-md-4'>
<div class = 'create-card shadow-z-1'>
	<h4>Step 1: What is the Task?</h4>
	<input id = 'task-name-input' class = 'input-sm' placeholder = 'Name of Task (example: Fill out Concessions form)'></input>

	<h5>Describe it</h5>
	<textarea id = 'task-description-input' class = 'input-sm' rows="5" placeholder="Description (example: find the concessions for at pbl.link/concessions, please fill out three available timeslots"></textarea>

	<h5>Set a due date?<h5>
		<div>
	  <div id="datetimepicker1" class="input-append date">
	  	<p class = 'text-muted smalltext'>Format for due dates is dd/MM/yyyy hh:mm:ss</p>
	  	<input id = 'due-date-input' data-format="dd/MM/yyyy hh:mm:ss" type="text" placeholder = 'dd/MM/yyyy hh:mm:ss' class = 'input-sm'><span class = 'add-on'><i id = 'due-date-icon' data-time-icon="icon-time" data-date-icon="icon-calendar" class = 'mdi-action-alarm-add'></i></span></input>
	    
	  </div>
	</div>
	

	<h5 style = 'border-top:1px solid rgba(0,0,0,0.1);padding-top:15px'>Select a Board to send it to</h5>
	<p class = 'smalltext text-muted'>Tasks are by default sent to the main PBL Fall 2015 Trello (<a href = 'http://pbl.link/trello' target='_blank'>pbl.link/trello</a>) but you can create tasks on custom Trello Boards</p>
	<!-- <p class = 'smalltext text-muted'>Read more about <a href = '#'>setting up custom boards</a></p> -->
	<select id = 'board-select' class = 'input-sm'>
		<% @board_hash.keys.each do |board_id| %>
			<% if (@board_id and board_id == @board_id) or (not @board_id and board_id == @main_board.board_id) %>
			<option id = '<%= board_id %>' selected><%= @board_hash[board_id].name %></option>
			<% else %>
				<% if current_member and current_member.trello_member_id and @board_members_hash[board_id].include?(current_member.email) %>
				<option id = '<%= board_id %>'><%= @board_hash[board_id].name %></option>
				<% end %>
			<% end %>
		<% end %>
	</select>
	<h5 style = 'border-top:1px solid rgba(0,0,0,0.1);padding-top:15px'>Give it Labels</h5>
	<p class = 'text-muted smalltext'>We recommend adding one or two labels. Labels make it easier for you to organize your tasks!</p>
	<div id = 'labels-container'>
		<% @trello_label_hash[@board_id].each do |label| %>
		<div id = '<%= label['id'] %>' class = 'label label-primary' style = 'background-color:<%= label['color'] %>;'><%= label['name'] %></div>
		<% end %>
	</div>

</div>
</div>

<div class = 'col-md-4'>
<div class = 'create-card shadow-z-1'>
	<h4>Step 2: Select Members to Assign</h4>
	<% @cm_trello_hash.keys.each do |committee| %>
	<div style = 'border-bottom:1px solid rgba(0,0,0,0.1)'>
		<h4><%= committee %></h4>
		<% @cm_trello_hash[committee].each do |member| %>
			<% if @board_members_hash[@board_id].include?(member.email) %>
			<div class = 'member-div' id = '<%= member.email %>'><img src = '<%= member.gravatar_url %>' class = 'profile-image profile-image-small'></img> &nbsp;<%= member.name %></div>
			<% else %>
			<div class = 'member-div' id = '<%= member.email %>' style = 'display:none'><img src = '<%= member.gravatar_url %>' class = 'profile-image profile-image-small'></img> &nbsp;<%= member.name %></div>
			<% end %>
		<% end %>
	</div>
	<% end %>
</div>

<div id = 'someone-missing-div' style = 'display:inline-block;clear:both'>
<h5>Someone missing from this list?</h5>
<div class = 'smalltext text-muted' style = 'margin-bottom:10px'>Some of your peers may not have registered their Trello accounts on the Portal yet! To start using PBL Tasks with them, encourage everyone to register their Trello Accounts!</div>
<div>
	<% @unregistered_members.each do |member| %>
	<div class = 'member-unregistered-div smalltext text-muted'><img src = '<%= member.gravatar_url %>' class = 'profile-image profile-image-small'></img> <%= member.name %></div>
	<% end %>
</div>
</div>

</div>

<div class = 'col-md-4'>

<div class = 'create-card shadow-z-1'>
<h4>Step 3: Create Your Task</h4>
	<button id = 'create-btn' class = 'btn btn-material-blue-500'>Create</button>
	<div id = 'update-container' style = 'display:none;'></div>
</div>



</div><!-- end of col -->
</div><!-- end of row -->

<div class = 'row'>

<div class = 'col-md-4'>

</div>

<div class = 'col-md-4'>

</div>

<div class = 'col-md-4'></div>
</div>

<%= javascript_include_tag 'datetimepicker.min.js' %>
<script type="text/javascript">
	  $(function() {
	    $('#datetimepicker1').datetimepicker({
	      language: 'pt-BR'
	    });
	  });
	</script>


<script type = 'text/javascript'>
var board_members_hash = JSON.parse('<%= @board_members_hash.to_json.html_safe %>');
var board_labels_hash = JSON.parse('<%= @trello_label_hash.to_json.html_safe %>');
function activateLabelClicks(){
	$('.label.label-primary').click(function(){
		if($(this).hasClass('selected-label')){
			$(this).removeClass('selected-label');
		}
		else{
			$(this).addClass('selected-label');
		}
	});
}
activateLabelClicks();
$('#board-select').change(function(){
	board_id = $('#board-select :selected').attr('id');
	// change members
	$('.member-div').each(function(){
		$(this).show();
		if($(this).hasClass('card')){
			$(this).removeClass('card');
		}
		id = $(this).attr('id');
		if(board_members_hash[board_id].indexOf(id) == -1){
			$(this).hide();
		}
		else{
			$(this).show();
		}
	});
	// change labels
	$('#labels-container').html("");
	labels = board_labels_hash[board_id];
	for(var i=0;i<labels.length;i++){
		label = labels[i];
		if (label['name']!='')
		{
			label_div = document.createElement('div');
			$(label_div).text(label['name']);
			$(label_div).attr('style', 'background-color:'+label['color']);
			$(label_div).attr('class', 'label label-primary');
			$(label_div).attr('id', label['id']);
			$('#labels-container').prepend(label_div);
		}
	}
	activateLabelClicks();
});
$('.member-div').click(function(){
	if($(this).hasClass('card')){
		$(this).removeClass('card');
	}
	else{
		$(this).addClass('card');
	}
});
var loader_image = "<img src = 'http://wpc.077d.edgecastcdn.net/00077D/fender/images/2013/template/drop-nav-loader.gif' height=100></img>";
$('#create-btn').click(function(){
	task_name = $('#task-name-input').val();
	task_description = $('#task-description-input').val();
	member_ids = [];
	$('.member-div').each(function(){
		if($(this).hasClass('card')){
			member_ids.push($(this).attr('id'));
		}
	});
	//get labels
	label_ids = [];
	$('.label.label-primary.selected-label').each(function(){
		label_ids.push($(this).attr('id'));
	});
	board_id = $('#board-select :selected').attr('id');
	//get due date
	due_date = $('#due-date-input').val();
	console.log(due_date);
	console.log(board_id);
	console.log(task_name);
	console.log(member_ids);
	//activate spinner
	$('#update-container').show();
	$('#update-container').html(loader_image);
	$.ajax({
	      url: '/tasks/create_task/',
	      type: 'POST',
	      data: {'name': task_name, 'description': task_description, 'member_ids': member_ids, 'board_id': board_id, 'label_ids':label_ids, 'due_date':due_date},
	      success:function(data){
	        // location.reload();
	        $('#update-container').html(data);
	      },
	      error:function (xhr, textStatus, thrownError){
	        $('#update-container').html('<h2>Failed to create task</h2>');
	      }
	  });

});

</script>