
<style type = 'text/css'>
.notification-card{
	margin:10px;	
	border-radius:5px;
	background-color: rgba(247, 247, 247, 0.85);
  	border-radius:5px;
  	padding: 10px;
}
</style>
<% if @notifications.length > 0 %>
<h4>Notifications</h4>
<% @notifications.each do |notification| %>
<!-- {"id"=>"55aeb3a3edad20558e1a0cb2", "unread"=>false, "type"=>"cardDueSoon", "date"=>"2015-07-21T21:03:30.992Z", "data"=>{"board"=>{"name"=>"[PBL] Portal & Website", "id"=>"541ea26a366ff5647b0e6904"}, "card"=>{"due"=>"2015-07-22T21:02:52.000Z", "shortLink"=>"EDj3rTQd", "idShort"=>32, "name"=>"Figure out parents day details", "id"=>"55ad6232d4c5251eb60ace2a"}}, "member_creator_id"=>nil} -->

<% if notification['unread'] and notification['data'].keys.include?('card') %>

<div class = 'notification-card shadow-z-1'>
	
	<div><a href = 'http://trello.com/c/<%= notification["data"]["card"]["id"] %>' target = '_blank'><%= notification['data']['card']['name'] %></a></div>
	<div><b>Type:</b> <%= notification['type'] %></div>
	<% if notification['data'].keys.include?('text') %>
	<div><b>Text:</b> <%= notification['data']['text'] %></div>
	<% end %>
	<!-- <div><%= notification %></div> -->
</div>

<% end %>
<% end %>
<% else %>
<h4>No new notifications</h4>
<% end %>

<%= render partial: "task_table", locals: {card_hash: @trello_card_hash, boards: @boards, cards: @cards, list_hash: @list_hash, board_hash: @board_hash, member_email_hash: @member_email_hash} %>

