<li class="no-border" ondragover=showAdd(event) id='<%= @slot.id %>'>
  <b><%= @slot.start_time.strftime("%l:%M%p") %></b>

  <ul class = "list-group slot-list">
    <% @slot.member_name_id_map.each do |data| %> 
        <% if current_member and data['name']==current_member.name %>
        <li draggable=true ondragstart=drag(event) ondragend=hideAll(event) id="<%= data["tsm_id"] %>" class = 'current-member'><%= data['name'] %></li> 
        <% elsif data['position'] == "chair" or data['exec']%>
        <li draggable=true ondragstart=drag(event) ondragend=hideAll(event) id="<%= data["tsm_id"] %>" class = 'officer'><%= data['name'] %></li> 
        <% else %>
        <li draggable=true ondragstart=drag(event) ondragend=hideAll(event) id="<%= data["tsm_id"] %>"><%= data['name'] %></li> 
        <% end %>
    <!-- end of if name current member -->
    <% end %>
    <!-- TODO show only for admin -->
    <% if current_member and current_member.admin? %>
    <li class="delete" ondrop="deleteMember(event)" ondragover="allowDrop(event)">Drop here to delete</li>
    <li class="add" ondrop="addMember(event)" ondragover="allowDrop(event)">Drop here to add</li>
    <% end %>
  </ul>

</li>
