<%= javascript_include_tag "events_manage" %>
<style type = 'text/css'>
.event-points-input{
	/*height:10px;*/
	width: 50px;
}
.updating {
	color: red;
}
</style>


<h1>Manage Events</h1>
<%= link_to 'List Google Events', 'google_calendar_redirect' %>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Points</th>
      <th>Actions</th>
    </tr>
  </thead>
	<tbody>
	<% @events.each do |event| %>
	<tr>
		<td><%= event.name %></td>
		<td><%= event.time_string %></td>
		<td><input id = '<%= event.id %>.points' type = 'text' class = 'form-control event-points-input' value = '<%= event.points %>'></input></td>
		<td><a href = '/events/<%= event.id %>/delete'>Delete</a> <a href = '/events/<%= event.id %>/edit'>Edit</a></td>
	</tr>
	<% end %>
	</tbody>
</table>
