<h1>Manage Events</h1>

<div class = 'col-md-8'>
<% @semesters.each do |semester| %>
<h2>Semester: <%= semester.name %> (<%= @events_hash[semester.name].length %> events)</h2> 
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>GoogleID</th>
      <th>Points</th>
      <th>Actions</th>
    </tr>
  </thead>
	<tbody>
	<% @events_hash[semester.name].each do |event| %>
	<tr>
		<td><%= event.name %></td>
		<td><%= event.start_time %></td>
		<td><%= event.google_id %></td>
		<td><%= event.points %></td>
		<td><a href = '/events/<%= event.id %>/delete'>Delete</a> <a href = '/events/<%= event.id %>/edit'>Edit</a></td>
	</tr>
	<% end %>
	</tbody>
</table>
<% end %>
</div>

<div class = 'col-md-3'>
<h2><a href = '/events/list_google_events'>Pull Google Events</a></h2>
<h2><a href = '/event_points'>Set Event Points</a></h2>
</div>