<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<%= javascript_include_tag "commitments" %>
<script type = "text/javascript">
var marked_slots = {};
marked_slots["0"] = [];
marked_slots["1"] = [];
marked_slots["2"] = [];
marked_slots["3"] = [];
marked_slots["4"] = [];
marked_slots["5"] = [];
marked_slots["6"] = [];
<% @commitments.each do |commitment| %>
marked_slots['<%= commitment.day %>'].push('<%= commitment.start_hour %>');
<% end %>
</script>

<% if current_member and current_member.admin? %>
  <!-- sets pbl commitments -->
  <script type = "text/javascript">
  var pbl_commitments = {};
  <% @pbl_commitments.keys.each do |m_id| %>
  pbl_commitments['<%= m_id %>'] = [];
  <% @pbl_commitments[m_id].each do |hour| %>
  pbl_commitments['<%= m_id %>'].push('<%= hour %>');
  <% end %>
  <% end %>
  var member_hash = {};
  var reverse_member_hash = {};
  var member_names = [];
  <% Member.current_members.each do |m| %>
  member_hash['<%= m.name %>'] = '<%= m.id %>';
  reverse_member_hash['<%= m.id %>'] = '<%= m.name %>';
  member_names.push('<%= m.name %>');
  <% end %>
  </script>
<% end %>


<style type = "text/css">
.timetable {
  overflow: hidden;
  /*border-left: 1px solid #C5C5C5;*/
  /*border-radius: 10px 10px 0px 0px;*/
  margin: 25px;
  /*border-left: 1px solid black;*/
}
.day {
  background-color: white;
  /*border: 1px solid black;*/
  float: left;
  width: 65px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  margin-left: -1px;
  margin: 7px;
  border-radius:5px;
  /*box-shadow: 3px 3px 5px rgba(0,0,0,0.3);*/
}
.day:hover {
  cursor: pointer;
}
.day div {
  border: 1px solid #C5C5C5;
  padding: 3px;
  overflow: hidden;
  margin-top: -1px;
}
.day_header {
  /*color: rgb(255, 213, 213);*/
  color: white;
  background-color:black;
  /*font-weight: bold;*/
}
.hour {
  overflow: hidden;
}
.hour:hover {
  cursor: pointer;
}

#current_member{
  background-color: white;
}
#save_commitments {
  margin-left: 25px;
}
</style>



<h1>Commitments</h1>

<div id='btn-div'>
<button type = 'btn' id ='save_commitments'>Save</button>
</div>

<div id = "times" class = "timetable"></div>



<% if current_member and current_member.admin? %>
<h1>PBL's availability</h1>
<div id = "cm_chart" class = "timetable"></div>
<div id = "options_div"  class="panel panel-default" style="width: 300px">
  <div id = "tracked_header" class = "panel-heading">Tracked Members</div>
  <div class = "panel-body">
    <input class="form-control" placeholder="search pbl members" type = "text" id = "member_search" />
    <div style = "height: 15px"></div>
    <button id = "clear-button" type = "button" class = "btn btn-default">Clear List</button>
    <div style = "height:15px"></div>
    <div id = "tracked_list">
      <div id = '<%= current_member.id %>' class = "tracked_member"><%= current_member.name %></div>
    </div><!-- end of tracked list -->
  </div>

  </div>
  <!-- end of options panel div -->
<style type = "text/css">
#tracked_header {
  text-align: center;
}
.tracked_member:hover {
  cursor: pointer;
}
</style>
<% end %>