<style type = 'text/css'>
.post-buttons{
	display:none;
}
</style>
<% posts.each do |post| %>
<div class = 'post-div' id = '<%= post.id %>'>
	<div class = 'top-data'>
		<div class = 'pull-right'><img src = '<%= email_hash[post.last_editor].gravatar_url %>' class = 'profile-image-small'></img></div>
		<div class = 'time-tag label label-default'><%= post.time_string %></div>
		<% post.get_tags.each do |tag| %>
			<div class = 'label label-primary'><%= tag %></div>
		<% end %>
	</div>

	<h2><a id = '<%= post.get_parse_id %>-title' class = 'blog-link' data-id = '<%= post.get_parse_id %>' href = 'javascript:void(0)' data-toggle="modal" data-target="#myModal"><%= post.get_title %></a></h2>
	
	
	<div id = '<%= post.get_parse_id %>-content' class = 'content-div'>
		<%= post.content.html_safe %>
	</div>

	<div class = 'post-options' id = '<%= post.get_parse_id %>-options'>
		<% if post.can_edit(current_member) %>
		<div>
			<a href = 'javascript:void(0)' class = 'post-btn-link'>Show options</a>
			<div id = '<%= post.get_parse_id %>-buttons' class = 'post-buttons'>
				<a href = '/blog/edit_post?id=<%= post.get_parse_id %>'><button class = 
				'btn btn-material-blue-700'>Edit this post</button></a>
				&nbsp;
				<a href = '/blog/email_landing_page?id=<%= post.get_parse_id %>'><button class = 'btn btn-material-grey-700'>Email this post</button></a>
				&nbsp;
				<a href = '/blog/delete_post?id=<%= post.get_parse_id %>'><button class = 'btn btn-material-red-700'>Delete this post</button></a>
			</div>
		</div>
		<% end %>

		<div>
			View Permissions: "<%= post.get_view_permissions %>", Edit Permissions: "<%= post.get_edit_permissions %>"
		</div>

		<a href = '/blog?post_id=<%= post.get_parse_id %>'>Link to the post</a>

		<div class = 'meta-div'>
			<div>Author: <%= post.author %></div>
			<div>Last Edited By: <%= post.last_editor %></div>
			<div>Timestamp: <%= post.time_string %></div>
		</div>
	</div>


</div>
<% end %>

<script type = 'text/javascript'>

</script>