<style type = 'text/css'>
#top-spacer{
  clear:both;
  height:25px;
}
#content-input{
  min-height:500px;
}
</style>
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<div class = 'centered'>

<div class="input-group">
  <span class="input-group-addon">Title</span>
  <input id = 'title-input' type="text" class="form-control" placeholder = 'Enter a title here' <% if post %>value='<%= post.title %>'<% end %>>
</div>

<div class="input-group">
  <span class="input-group-addon">View Permissions</span>
  <select  id = 'view-permissions-input' class = 'form-control'>
    <% if post %>
    <option selected><%= @post.get_view_permissions %>
    <% end %>
      <option>Only Me</option>
      <option>Only PBL</option>
      <option>Only Officers</option>
      <option>Only Execs</option>
      <option>Anyone</option>
  </select>
</div>


<div class="input-group">
  <span class="input-group-addon">Edit Permissions</span>
  <select  id = 'edit-permissions-input' class = 'form-control'>
    <% if post %>
    <option selected><%= @post.get_edit_permissions %>
    <% end %>
      <option>Only Me</option>
      <option>Only PBL</option>
      <option>Only Officers</option>
      <option>Only Execs</option>
      <option>Anyone</option>
  </select>
</div>

<button id = 'save-btn' class = 'btn btn-material-blue-900'>Save post</button>
<% if post %>
<a href = '/blog/delete_post?id=<%= post.id %>'><button class = 'btn btn-material-red-900 centered'>Delete this post</button></a>
<% end %>
<!-- <button id = 'save-btn' class = 'btn btn-material-grey-900'>Save and email post</button> -->

<div id = 'top-spacer'></div>

<textarea id = 'content-input'><%= post ? post.content : '' %></textarea>

</div>
<script>
//tinymce.init({selector:'textarea', plugins: ['image', 'link', 'textcolor']});
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern imagetools"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
});


</script>
<script type = 'text/javascript'>
$('#save-btn').click(function(){
	content_html = tinyMCE.activeEditor.getContent();
	console.log(content_html);
  <% if post %>
  id = '<%= post.id %>';
  <% else %>
  id = null;
  <% end %>

  view_permissions = $("#view-permissions-input option:selected").text();
  edit_permissions = $("#edit-permissions-input option:selected").text();
	$.ajax({
      url: '/blog/save_post',
      type: 'POST',
      data: {'title': $('#title-input').val(), 'content': content_html ,'id': id, 'view_permissions' : view_permissions, 'edit_permissions': edit_permissions},
      success:function(data){
        window.location = '/blog';
      },
      error:function (xhr, textStatus, thrownError){
        alert('failed');
      }
  });
});
</script>