<%= tinymce_assets %>

<h1 class = 'centered'>Edit Post</h1>

<div class = 'centered'>

<input id = 'title-input' type = 'text' class = 'form-control' placeholder = 'Title' value = '<%= @post.title %>'></input>

<%= text_area_tag :content, @post.content, :class => "tinymce", :rows => 40, :cols => 120 %>
<%= tinymce %>

<button id = 'save-btn' class = 'btn btn-material-blue-900'>Update post</button>
<button id = 'save-btn' class = 'btn btn-material-grey-900'>Update and email post</button>
</div>

<script type = 'text/javascript'>
$('#save-btn').click(function(){
	content_html = tinyMCE.activeEditor.getContent();
	console.log(content_html);
	$.ajax({
      url: '/blog/update_post',
      type: 'POST',
      data: {'title': $('#title-input').val(), 'content': content_html, 'id': '<%= @post.id %>'},
      success:function(data){
        window.location = '/blog';
      },
      error:function (xhr, textStatus, thrownError){
        alert('failed');
      }
  });
});
</script>