<style type = 'text/css'>
.post-div{
	padding:20px;
	border:1px solid rgba(0,0,0,0.1);
	margin:10px;
	background-color:white;
	width:30%;
	float: left;
}
.content-div{
}
.meta-div{
	font-size:10px;
	color:black;

}
#top-spacer{
	clear:both;
	display:inline-block;
	height:50px;
}
#blog-search{
	padding:8px;
	width:50%;
}

</style>

<div id = 'top-spacer'></div>

<div id = 'nav-options' class = 'centered'>

	<h1>Blog</h1>
	<a href = '/blog/create_post'><button class = 'btn btn-material-blue-900'>Create new post</button></a>
	<input id = 'blog-search' type = 'text' placeholder = 'Search for posts' value = '<%= @search_term %>'/>
	<div>
		<% if @search_term %>
		<a href = '/blog'>Remove search filter</a>
		<% end %>
	</div>
	<div>
		<h2>Categories</h2>
		<div class = 'categories-div'>
			<% BlogPost.types.each do |type| %>
			<div class = 'label label-default'><%= type %></div>
			<% end %>
		</div>
	</div>

</div>

<div id = 'top-spacer'></div>
<!-- s -->

<div class = 'row'>
<% @posts.each do |post| %>
	<div class = 'post-div' id = '<%= post.id %>'>
		<div class = 'label label-primary'><%= post.get_post_type %></div>
		<h2><a href = '/blog/view_post?id=<%= post.get_parse_id %>'><%= post.title %></a></h2>
		
		
		<div style = 'max-height:200px; overflow:hidden' id = '<%= post.get_parse_id %>-content' class = 'content-div'>
			<%= post.content.html_safe %>
		</div>

		<div class = 'meta-div pull-right'>
			<div>Author: <%= post.author %></div>
			<div>Timestamp: <%= post.timestamp %></div>
		</div>
		<!-- <a class = 'read-toggle' href = 'javascript:void(0)' data-toggle = '<%= post.get_parse_id %>-content'>Read More</a> -->
		<!-- <div>The parse id is id: <%= post.id %> parse_id <%= post.parse_id %> get_pid  <%= post.get_parse_id %> </div> -->

		<!-- 			<div class = 'post-links'>
			<% if @editable_ids.include?(post.id) %>
				<div><a href = '/blog/edit_post?id=<%= post.get_parse_id %>'>Edit this post</a></div>
				<div><a href = '/blog/email_post?id=<%= post.get_parse_id %>'>Email this post</a></div>
			<% end %>
			</div> -->
			<!-- <div>Type: <%= post.get_post_type %></div>
			<div>Can View: <%= post.get_view_permissions %></div>
			<div>Can Edit: <%= post.get_edit_permissions %></div> -->

		
	</div>
<% end %>
</div>
<!-- end of posts row -->
<%= will_paginate @posts %>

<script type = 'text/javascript'>
$('.read-toggle').click(function(){
	console.log('clicked this');
	content_div = $('#' + $(this).attr('data-toggle'));
	$(content_div).attr('style', '');
	$(this).hide();
});
$('#blog-search').keyup(function(event){
	var keycode = (event.keyCode ? event.keyCode : event.which);
	if(keycode == '13'){
		window.location = '/blog?q='+$(this).val();
	}
});
</script>