<style type = 'text/css'>
.post-div{
	padding:20px;
	border:1px solid rgba(0,0,0,0.1);
	margin:10px;
	background-color:white;
	width:30%;
	float: left;
	height:399px;
}
.content-div{
	height:200px;
	overflow:hidden;
}
.meta-div{
	font-size:10px;
	color:black;

}
#top-spacer{
	clear:both;
	display:inline-block;
	height:50px;
}
#blog-search{
	text-align:center;
	padding:8px;
	width:50%;
}
.tag-label > a{
	color:white;
}
.selected-label{
	background-color:black !important;
}
#modal-body{
	padding:15px;
}
#modal-header{
	margin-bottom:3px;
	background-color:black;
}
#modal-options{
	padding:15px;
}
.post-options{
	display:none;
}
</style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id = 'modal-header' class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-title">Modal title</h4>
      </div>
      <div id="modal-body">
      </div>
      <div id = 'modal-options'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end of modal -->

<div id = 'top-spacer'></div>

<div id = 'nav-options' class = 'centered'>

	<h1>PBL Blog</h1>
	<div>
		<input id = 'blog-search' type = 'text' placeholder = 'Search for posts' value = '<%= @search_term %>'/>
	</div>
	<a href = '/blog/create_post'>
		<button class = 'btn btn-material-blue-900'>Create new post</button>
	</a>
	
	
	<div>
		<h2>Folders</h2>
		<div class = 'categories-div'>
			<% BlogPost.tags.each do |tag| %>
				<% if @post_type and @post_type == tag %>
					<div class = 'label label-default tag-label selected-label'><a href = '/blog?post_type=<%= tag %>'><%= tag %></a></div>
				<% else %>
					<div class = 'label label-default tag-label'><a href = '/blog?post_type=<%= tag %>'><%= tag %></a></div>
				<% end %>
			<% end %>
		</div>
	</div>

	<div style = 'margin-top:10px'>
		<% if @filtered %>
		<a href = '/blog'>Remove filters</a>
		<% end %>
	</div>

</div>

<div id = 'top-spacer'></div>

<% if @pinned.length > 0 %>
<h1>Pinned Posts</h1>
<div class = 'row'>
	<% @pinned.each do |post| %>
	<div class = 'post-div' id = '<%= post.id %>'>
		<% post.get_tags.each do |tag| %>
			<div class = 'label label-primary'><%= tag %></div>
		<% end %>
		<h2><a id = '<%= post.get_parse_id %>-title' class = 'blog-link' data-id = '<%= post.get_parse_id %>' href = 'javascript:void(0)' data-toggle="modal" data-target="#myModal"><%= post.get_title %></a></h2>
		
		
		<div id = '<%= post.get_parse_id %>-content' class = 'content-div'>
			<%= post.content.html_safe %>
		</div>

		<div class = 'post-options' id = '<%= post.get_parse_id %>-options'>
			<% if post.can_edit(current_member) %>
				<div>
					<a href = '/blog/edit_post?id=<%= post.get_parse_id %>'>Edit this post</a>
					&nbsp;
					<a href = '/blog/email_post?id=<%= post.get_parse_id %>'>Email this post</a>
				</div>
				<div>
					Permissions: <%= post.get_view_permissions %> can view, <%= post.get_edit_permissions %> can edit
				</div>
			<% end %>
			<a href = '/blog?post_id=<%= post.get_parse_id %>'>Link to the post</a>
		</div>

		<div class = 'meta-div'>
			<div>Author: <%= post.author %></div>
			<div>Timestamp: <%= post.timestamp %></div>
		</div>
	</div>
<% end %>
</div>
<h1>Recent Posts</h1>
<% end %>
<!-- end if pinned post -->
<div class = 'row'>
<% @posts.select{|x| not @pinned_ids.include?(x.get_parse_id)}.each do |post| %>
	<div class = 'post-div' id = '<%= post.id %>'>
		<% post.get_tags.each do |tag| %>
			<div class = 'label label-primary'><%= tag %></div>
		<% end %>
		<h2><a id = '<%= post.get_parse_id %>-title' class = 'blog-link' data-id = '<%= post.get_parse_id %>' href = 'javascript:void(0)' data-toggle="modal" data-target="#myModal"><%= post.get_title %></a></h2>
		
		
		<div id = '<%= post.get_parse_id %>-content' class = 'content-div'>
			<%= post.content.html_safe %>
		</div>

		<div class = 'post-options' id = '<%= post.get_parse_id %>-options'>
			<% if post.can_edit(current_member) %>
				<div>
					<a href = '/blog/edit_post?id=<%= post.get_parse_id %>'>Edit this post</a>
					&nbsp;
					<a href = '/blog/email_post?id=<%= post.get_parse_id %>'>Email this post</a>
				</div>
				<div>
					Permissions: <%= post.get_view_permissions %> can view, <%= post.get_edit_permissions %> can edit
				</div>
			<% end %>
			<a href = '/blog?post_id=<%= post.get_parse_id %>'>Link to the post</a>
		</div>

		<div class = 'meta-div'>
			<div>Author: <%= post.author %></div>
			<div>Timestamp: <%= post.timestamp %></div>
		</div>
	</div>
<% end %>
</div>
<!-- end of posts row -->
<%= will_paginate @posts %>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type = 'text/javascript'>


function changeModal(id){
	content = $('#' + id + '-content').html();
	title = $('#'+id+'-title').text();
	options = $('#'+id+'-options').html();
	console.log(id);
	console.log(content);
	console.log(title);
	$('#modal-title').text(title);
	$('#modal-body').html(content);
	$('#modal-options').html(options);
}

<% if @post_id %>
jQuery(document).ready(function($) {
	$('#myModal').modal('show');
    changeModal('<%= @post_id %>');
});
	// $('#myModal').modal('show');
	
<% end %>	



$('.blog-link').click(function(){
	id = $(this).attr('data-id');
	changeModal(id);
});
$('.read-toggle').click(function(){
	console.log('clicked this');
	content_div = $('#' + $(this).attr('data-toggle'));
	$(content_div).attr('style', '');
	$(this).hide();
});
$('#blog-search').keyup(function(event){
	var keycode = (event.keyCode ? event.keyCode : event.which);
	if(keycode == '13'){
		window.location = '/blog?q='+$(this).val();
	}
});
</script>