<select class = 'form-control' id = 'directories-dropdown'>
<% @one_ply.each do |directory| %>
<option id = '<%= directory %>'><%= directory.split('/')[-1] %></option>
<% if @directory_tree[0][directory] and @directory_tree[0][directory].length != 0 %>
     <% @directory_tree[0][directory].each do |two_subdirectory| %>
        <option id = '<%= two_subdirectory %>'>&nbsp;&nbsp;&nbsp;&nbsp;<%= two_subdirectory.split('/')[-1] %></option>
        	<% if @directory_tree[1][two_subdirectory] and @directory_tree[1][two_subdirectory].length != 0 %>
        		<% @directory_tree[1][two_subdirectory].each do |three_subdirectory| %>
        			<option id = '<%= three_subdirectory %>'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= three_subdirectory.split('/')[-1] %></option>
				<% end %>
			<% end %>
	<% end %>
<% end %>
<% end %>
</select>