<script type = 'text/javascript'>
$('.go-link-key').click(function(){
  id = $(this).attr('id').split('-')[3];
  hidden_id = 'go-link-hidden-'+id;
  $('#'+hidden_id).toggle();
});
</script>

<style type = 'text/css'>
.go-link-key:hover{
	cursor: pointer;
	color:#0a6ebd;
}
.go-link-hidden{
	display:none;
  padding-left: 15px;
}
.partitioned-card{
	float: left;
	margin:15px;
}
</style>

<h3>Groups Generated</h3>
<p>
<% @partitioned_catalogue.keys.each do |partition| %>
&nbsp;<%= partition %>&nbsp;
<% end %>
</p>

<% @partitioned_catalogue.keys.each do |partition| %>

<div class="panel panel-default partitioned-card">
  <div class="panel-heading">
    <h3 class="panel-title"><%= partition %></h3>
  </div>
  <div class = 'panel-body'>
      	<% @partitioned_catalogue[partition].each do |link_id| %>
      		<div class = 'go-link-key' id = 'go-link-key-<%= link_id%>'><%= @go_link_id_hash[link_id].key %></div>
          <div class = 'go-link-hidden' id = 'go-link-hidden-<%= link_id %>'>
          	<div>Url: <%= link_to @go_link_id_hash[link_id].short_url, @go_link_id_hash[link_id].url %></div>
          	<div>Created By: <% if @go_link_id_hash[link_id].member_id %><%= @member_hash[@go_link_id_hash[link_id].member_id].name %><% else %>None<% end %></div>
          	<div>Description: <%= @go_link_id_hash[link_id].description %></div>
          </div>

        <% end %>
  </div>
  <div class="panel-footer">
    <small><%= @partitioned_catalogue[partition].length %> Links in this partition</small>
  </div>

</div>
<% end %>
