<style type = 'text/css'>
.golink-type-image{
  height:15px;
}

/* go links styles*/
.link-row>.golink-type-td>{
  width:5%;
  overflow:hidden;
  max-width:20px;
}
.link-row>.golink-url-td{
	display:none;
}

.link-row>.golink-key-td{
  width:25%;
  max-width: 200px;
  overflow:hidden;
}
.link-row>.golink-description-td{
  width:40%;
  max-width:300px;
  overflow:hidden;
}
.link-row>.golink-rating-td{
	width:10%;
}
.description-input{
	min-width:300px;
}


.editing{
	opacity:0.5;
}
.golink-creator:hover{
	cursor:pointer;
	text-decoration: underline;
}
.tag-delete-link{
	margin-left:3px;
	color:white !important;
}
/*.tag-container{
	display:none;
}*/

/*hidden edit inputs*/
.hidden-edit{
	display:none;
	color:purple;
	opacity:0.75;
}
.editable-row:hover{
	cursor:pointer;
}
.permissions-input{
	min-width:125px;
}
.link-row>.last-updated-td{
	min-width:100px;
}
</style>
<% if golinks.length == 0 %>
<p>No results</p>
<% else %>

	<table class = 'table table-hover table-condensed'>
		<thead>
			<tr>
				<!-- <th>Rating</th> -->
				<th></th>
				<th>Key</th>
				<th>Description</th>
				<th>Added By</th>
				<th>Shared With</th>
				<th id = 'last-updated-col'>Last Updated</th>
				<th>Views</th>
				<th></td>
			</tr>
		</thead>
		<tbody>
		<% golinks.each do |golink| %>
		<tr class = 'link-row' id = '<%= golink.get_parse_id %>-row'>
			<td class = 'golink-type-td'>
				<img class = 'golink-type-image' src = '<%= ParseGoLink.type_to_image(golink.resolve_type) %>'></img>
			</td>
			<td class = 'golink-key-td'>
				<a href = '/go/redirect_id/<%= golink.get_parse_id %>' target="_blank" id = '<%= golink.get_parse_id %>-key'><%= golink.key %></a>
				
				<% if current_member and golink.can_edit(current_member.email) %>
					<input data-id = '<%= golink.get_parse_id %>' id = '<%= golink.get_parse_id %>-key-input' type = 'text' class = 'form-control edit-input hidden-edit key-input' value = '<%= golink.key %>'></input>
				<% end %>
			</td> 
			<td class = 'golink-description-td'>
				<div id = '<%= golink.get_parse_id %>-description'><%= golink.description %></div>
				<input id = '<%= golink.get_parse_id %>-description-input' data-tags = '<%= golink.tags ? golink.tags.join(',') : '' %>' data-id = '<%= golink.get_parse_id %>' class = 'form-control description-input edit-input hidden-edit' value = '<%= golink.description %>' placeholder = 'enter a description'/>
				<div id = '<%= golink.get_parse_id %>-tag-container' class = 'hidden-edit'>
					<% if golink.tags %>
						<% golink.tags.each do |tag| %>
							<div class = 'label label-default tag-label' data-tag = '<%= tag %>'><%= tag %><a href = 'javascript:void(0)' class = 'tag-delete-link' data-id = '<%= golink.get_parse_id %>' data-tag = '<%= tag %>'>x</a></div>
						<% end %>
					<% end %>
				</div>
			</td>
			<td class = 'golink-creator-td'>
				<div class = 'golink-creator' data-email = '<%= golink.member_email %>'><%= golink.get_creator %></div>
			</td>
			<td>
				<% if current_member and golink.can_edit(current_member.email) %>
				
					<select  id = '<%= golink.get_parse_id %>-permissions-input' class = 'form-control permissions-input' data-id = '<%= golink.get_parse_id %>'>
						<option <% if golink.get_permissions  == 'Only Me' %>selected<% end %>>Only Me</option>
					  	<option <% if golink.get_permissions  == 'Only PBL' %>selected<% end %>>Only PBL</option>
					  	<option <% if golink.get_permissions == 'Only Officers' %>selected<% end %>>Only Officers</option>
					  	<option <% if golink.get_permissions == 'Only Execs' %>selected<% end %>>Only Execs</option>
					  	<option <% if golink.get_permissions == 'Anyone' %>selected<% end %>>Anyone</option>
					</select>
				<% else %>
					<div class = '<%= golink.get_parse_id %>-permissions'><%= golink.get_permissions %></div>
				<% end %>
			</td>
			<td class = 'last-updated-td'><%= golink.updated_at ? golink.updated_at.split('T')[0] : '' %></td>
			<td><%= golink.num_clicks ? golink.num_clicks : 0 %></td>
			
			<td>
				<% if current_member and golink.can_edit(current_member.email) %>
					<a href = 'javascript:void(0);' class = 'link-delete-btn' id = '<%= golink.get_parse_id %>'>x</a>
				<% end %>
			</td>

			<td class = 'golink-url-td'>
				<div id = '<%= golink.get_parse_id %>-url'><%= golink.url %></div>
			</td>

		</tr>
		<% end %>
		</tbody>
	</table>
<% end %>

<script type = 'text/javascript'>

function activateInputs(){
	$('.key-input').keypress(function(e){
		if(e.which == 13) {
			saveEdit($(this).attr('data-id'));
		}
	});
	$('.permissions-input').change(function(){
		console.log('this is happening');
		id = $(this).attr('data-id');
		saveEdit(id);
	});

	$('.link-delete-btn').click(function(){
		id = $(this).attr('id');
		row = $("#" + id + '-row');
		$(row).remove();
		$.ajax({
	      url: '/go/delete',
	      type: 'POST',
	      data: {'id':id},
	      success:function(data){
	      },
	      error:function (xhr, textStatus, thrownError){
	        alert('failed');
	      }
	  });
	});
}
activateInputs();
function saveEdit(id){
	key = $('#'+id+'-key-input').val();
    description = $('#'+id+'-description-input').val().split('#')[0];
    url = $('#'+id+'-url').text();
    permissions = $("#" + id + "-permissions-input option:selected").text();

    $('#'+id+'-row').fadeOut(100).fadeIn(100);
    $('#'+id+'-key').text(key);
    $('#'+id+'-description').text(description);
    $('#'+id+'-permissions').text(permissions);

    console.log('saving edit');
    $.ajax({
	      url: '/go/edit',
	      type: 'POST',
	      data: {'id':id, 'key':key, 'description':description, 'permissions':permissions, 'url':url},
	      success:function(data){
	      },
	      error:function (xhr, textStatus, thrownError){
	        alert('failed');
	      }
	  });
}
$('.link-row').click(function(){
	$('.hidden-edit').each(function(){
		$(this).hide();
	});
	$(this).find('.hidden-edit').each(function(){
		$(this).show();
	});
})

</script>
<script type = 'text/javascript'>
try {
    activateTagFilter();
}
catch(err) {
    console.log(err.message);
}

function removeTags(){
	$('.tag-delete-link').click(function(){
		id = $(this).attr('data-id');
		tag = $(this).attr('data-tag');
		description = $('#' + id + '-description-input').val().split('#')[0];
		tags = $('#' + id + '-description-input').attr('data-tags').split(',');
		index = tags.indexOf(tag);
		if(index != -1){
			tags.splice(index, 1);
		}
		$('#' + id + '-description-input').attr('data-tags', tags.join(','));
		console.log(tags);
		console.log(description);
		console.log(id);
		$(this).parent().remove();
		$.ajax({
		      url: '/go/edit_description',
		      type: 'POST',
		      data: {'id':id, 'tags':tags.join(','), 'description': description},
		      success:function(data){
		      	console.log('succeeded');
		      },
		      error:function (xhr, textStatus, thrownError){
		        alert('failed');
		      }
		  }); 
	});
}
removeTags();

function getUnique(array){
	var uniqueArray = array.filter(function(elem, pos) {
    return array.indexOf(elem) == pos;
  }); 
	return uniqueArray;
}

// $('.description-input').focus( function() {
//   $('.tag-container').each(function(){
//   	$(this).hide();
//   });
//   id = $(this).attr('data-id');
//   $('#'+id+'-tag-container').show();
// });

$('.description-input').keypress(function(e){
	if(e.which == 13) {
        id = $(this).attr('data-id');
        tags = $(this).attr('data-tags').split(',');
        description = $(this).val();
        if (description.indexOf('#') != -1){
        	splits = description.split('#');
	        description = splits[0];
	        for (var i = 1; i< splits.length;i++){
	        	tags.push(splits[i].trim());
	        }
        }
        tags = getUnique(tags);
        tag_container = $('#'+id+'-tag-container');
        tag_container.html('');
        tag_container.attr('data-tags', tags.join(','));
        for(var i=0;i<tags.length;i++){
        	if(tags[i] == ''){
        		continue;
        	}
        	tag_div = document.createElement('div');
        	$(tag_div).addClass('label');
        	$(tag_div).addClass('label-default');
        	$(tag_div).addClass('tag-label');
        	// $(tag_div).attr('id', id + tags[i] + '-tag')
        	$(tag_div).text(tags[i]);
        	$(tag_div).attr('data-tag', tags[i]);
        	tag_delete_link = document.createElement('a');
        	$(tag_delete_link).attr('data-tag', tags[i]);
        	$(tag_delete_link).attr('data-id', id);
        	$(tag_delete_link).addClass('tag-delete-link');
        	$(tag_delete_link).text('x');
        	$(tag_div).append(tag_delete_link);
        	tag_container.append(tag_div);
        }
        $(this).val(description);
        $(this).attr('data-tags', tags.join(','));
        $('#'+id+'-description').text(description);
        $(this).fadeOut(100).fadeIn(100);
        $.ajax({
	      url: '/go/edit_description',
	      type: 'POST',
	      data: {'id':id, 'description':description, 'tags' : tags.join(',')},
	      success:function(data){
	      	console.log('succeeded');
	      	removeTags();
	      	activateTagFilter();
	      },
	      error:function (xhr, textStatus, thrownError){
	        alert('failed');
	      }
	  });    
    }
});



</script>