
<style type = 'text/css'>
#affix-nav{
	margin-right:100px;
}
#affix-nav>li>a {
  position: relative;
  display: block;
  padding: 0px;
}
#affix-nav>li>ul>li>a {
  position: relative;
  display: block;
  padding: 0px 20px 0px;
}
#affix-nav>li>ul>li>ul>li>a {
  position: relative;
  display: block;
  padding: 0px 40px 0px;
}
#affix-nav.nav {
	font-size:12px;
}
#affix-nav.nav .active {
  font-weight: bold;
  font-size:15px;
}
 
.nav .nav {
  display: none;
}
 
.nav .active .nav {
  display: block;
}

/*3ply */
.nav .nav .nav { 
	display:none;
}
.nav .nav .active .nav{
	display:block;
}
/*end 3ply*/

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}
 
.nav .nav span {
  margin: 0 5px 0 2px;
}
/*3ply*/
.nav .nav .nav a {
  font-weight: normal;
  font-size: .75em;
}
 
.nav .nav .nav span {
  margin: 0 5px 0 2px;
}
/*end 3ply*/
 
.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 3px solid black;
}
 
.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

#custom-search-input{
    /*padding: 3px;*/
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    padding-bottom:0px;
}

#custom-search-input button{
    margin: 0px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: white;
    background-color:#1976d2;
    /*border-radius: 0px 0px 0px 0px;*/
    padding:0px;
}
#search-icon.glyphicon.glyphicon-search{
	  /*font-size: 20px;*/
  border-radius: 0px;
  /*padding: 0px 10px 0px 10px;*/
    font-size: 10px;
  padding: 10px 10px 10px 10px;
  margin-left: 0px;
}
#search-btn.btn.btn-info.btn-sm.btn-material-blue-500{

  border-radius: 2px;
  left: 2px;

}
#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
  /*padding: 5px 20px 5px 20px;*/
}

#search-btn:hover{
  color:white;
  background-color:black;
}
#search-btn{
  color:white;
  /*padding:3px;*/
}
.directory-section-div{
	clear:both;
	margin-bottom:15px;
	overflow:auto;
}
.mdi-hardware-keyboard-tab{
	color:rgba(0,0,0,0.1);
}

.navbar-material-blue-900.navbar {
  /*background-color: #0d47a1;*/
  /*color: rgba(255,255,255,.84);*/
  background-color: black;
}
#directory-container{
  margin-top:-15px;
}
</style>
<%= stylesheet_link_tag "golink_catalogue" %>



<body data-spy="scroll" data-target=".scrollspy" data-offset="115" style = 'position:relative' id = 'scroll-spy-container'>

<!-- Modal -->
<%= render 'catalogue_modal' %>
      

      <div class="col-md-9 catalogue-div">

<h1 class = 'middle-title'>PBL Links</h1>
    <p>PBL Links is a custom URL shortener for PBL. PBL Links has two main goals: simplifying the way we <b>access and discover resources</b> in PBL. </p>
    <!-- <a href = '/go/guide'>Read More about PBL Links</a> -->
    <!-- Button trigger modal -->
<a href = 'javascript:void(0);' data-toggle="modal" data-target="#guide-modal">
 Read More about PBL Links
</a>

<!-- Modal -->
<div class="modal fade" id="guide-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">PBL Link Guide</h4>
      </div>
      <div class="modal-body">
        <%= render 'guide' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

      <!-- <div style = 'margin-bottom:15px'>
<a href = '/go/manage' class = 'add-link' ><button class = 'btn btn-material-red-700 btn-raised'>Add New Link</button></a>
</div> -->

<% if @filters.length > 0 %>
<h3>Filtering by&nbsp;
<% @filters.each do |f| %><div class = 'label label-material-blue-900'><%= f %></div><% end %></h3>
<p><a href = '/go'>Remove Filters</a></p>
<% end %>

      	<!-- <h1><%= @num_links %> Links</h1> -->
      	
      	<% @all_directories.sort.each do |directory| %>

	      	<div class = 'directory-section-div'>
	      	<section id = "<%= directory.gsub('/', '').gsub('-', '') %>" class = 'directory-section'>
				<h3><div><% directory.split('/').select{|x| x!=''}.each_with_index do |dir, index| %>
				<div><% (0..index-1).each do |x| %><span class = 'mdi-hardware-keyboard-tab'></span><% end %><%= dir %></div>
				<% end %>
				</div> 
				</h3>
				<% if @directory_hash.include?(directory) %>
				<div id = '<%= directory.gsub('/', '').gsub('-', '') %>-directory-container'><%= render partial: "catalogue", locals: { go_links: @directory_hash[directory].sort_by{|x| [x.resolve_type, x.key]}, favorite_links: @favorite_links} %></div>
				<% end %>
			</section>
			</div>
		<% end %>


        <!--  -->
      </div><!-- end of col md 9 -->
  

<div id = 'directory-container' class="col-md-3 scrollspy">

	
  <div id = 'directory-draggable'>
        <ul id="affix-nav" class="nav hidden-xs hidden-sm affix" data-spy="affix">
        	<div style = 'clear:both;display:inline-block'>
	        	<div>
					<h5 style = 'margin: 0px 0px 3px 0px;'><%= @num_links %> Links</h5>
            <!-- &nbsp;<a href = '/go/manage' target="_blank"><span class = 'glyphicon glyphicon-plus-sign' style = 'font-size:15px'></span></a></h5> -->
				</div>
	        	<div id="custom-search-input">
	                <div class="input-group">
	                    <input id = 'search-input' type="text" class="input-sm" placeholder="Search for a PBL link" />
	                    <span class="input-group-btn">
	                        <button id = 'search-btn' class="btn btn-info btn-sm btn-material-blue-500" type="button">
	                            <span id = 'search-icon' class="mdi-action-search"></span>
	                        </button>
	                    </span>
	                </div>
	            </div>
        	</div>
            <div style = 'height:10px'></div>
          <% @one_ply.each do |directory| %>
        	<li><a class = 'directory-link' href = "#<%= directory.gsub('/', '').gsub('-', '') %>"><%= directory.split('/')[-1] %></a>
        		<% if @directory_tree[0][directory] and @directory_tree[0][directory].length != 0 %>
        		<ul class = 'nav subdirectory-nav'>
        			<% @directory_tree[0][directory].each do |two_subdirectory| %>
        			<li><a class = 'directory-link' href = "#<%= two_subdirectory.gsub('/', '').gsub('-', '') %>"><%= two_subdirectory.split('/')[-1] %></a>
        				<% if @directory_tree[1][two_subdirectory] and @directory_tree[1][two_subdirectory].length != 0 %>
        				<ul class = 'nav sub-subdirectory-nav'>
        					<% @directory_tree[1][two_subdirectory].each do |three_subdirectory| %>
        						<li><a class = 'directory-link' href = "#<%= three_subdirectory.gsub('/', '').gsub('-', '') %>"><%= three_subdirectory.split('/')[-1] %></a></li>
        					<% end %>
        				</ul>
        				<% end %>

        			</li>
        			<% end %>
        		</ul>
        		<% end %>
        		</li>
        	</li>
        	<% end %>
        </ul>
      </div><!-- end of directory draggable -->
  </div>
</body>

<%= javascript_include_tag "golink_catalogue" %>
<script type = 'text/javascript'>
function activateSearchButton(){
  $('#search-btn').click(function(){
    search_term = $('#search-input').val();
    window.location.assign('/go/search?search_term='+search_term);
  });

  $('#search-input').keypress(function(e) {
    if(e.which == 13) {
       search_term = $('#search-input').val();
       console.log(window.location);
       window.location.assign('/go/search?search_term='+search_term);
    }
});
}
activateSearchButton();
<% if @current_member %>
var email = "<%= @current_member.email %>";
<% else %>
var email = "asdf";
<% end %>
</script>
<!-- catalogue scripts -->

    
  

 


