<style type = 'text/css'>
.golink-type-image{
  height:15px;
}
/* go links styles*/
.link-row>.golink-type-td>{
  width:5%;
  overflow:hidden;
  max-width:20px;
}

.link-row>.golink-key-td{
  width:50%;
  max-width: 200px;
  overflow:hidden;
}
.link-row>.golink-description-td{
  width:50%;
  max-width:300px;
  overflow:hidden;
}
</style>
<h3>Links</h3>
<table class = 'table table-hover table-condensed'>
	<tbody>
	<% @golinks.each do |golink| %>
	<tr class = 'link-row' id = '<%= golink.id %>-row'>
		<td class = 'golink-type-td'><img class = 'golink-type-image' src = '<%= ParseGoLink.type_to_image(golink.resolve_type) %>'></img></td>
		<td class = 'golink-key-td'><a href = '<%= golink.url %>' target="_blank"><%= golink.key %></a>
		</td> 
		<td class = 'golink-description-td'>
			<%= golink.description %>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>