
<% if @golinks.length > 0 %>
	<h3 class = 'centered'>Search: <%= @search_term %></h3>

	<% if @type and @type == 'tag' %>
	<h5 class = 'centered'><a href = '/go?tag_search_term=<%= @search_term[1..@search_term.length-1] %>'>Link to #<%= @search_term %></a></h5>
	<% else %>
	<h5 class = 'centered'><a href = '/go?search_term=<%= @search_term %>'>Link to search for <%= @search_term %></a></h5>
	<% end %>
<% end %>

<%= render partial: 'golinks', locals: {golinks: @golinks} %>

<%= will_paginate @golinks %>


<script type = 'text/javascript'>
console.log('changing sort by links');
$('#key-sort-link').attr('href', '/go/ajax_search?q=<%= @search_term %>');
$('#views-sort-link').attr('href', '/go/ajax_search?q=<%= @search_term %>');
$('#updatedAt-sort-link').attr('href', '/go/ajax_search?q=<%= @search_term %>');
console.log($('#key-sort'));
</script>