<style type = 'text/css'>
.post-div{
	width:50%;
	margin-left:25%;
	padding:15px;
	background-color:white;

}
</style>
<% if @post_content and @post_content != '' %>
<div style = 'width:100%;'>
	<div class = 'post-div'>
		<%= @post_content.html_safe %></div>
</div>
<% end %>
<% if @golinks.length > 0 %>
	<h3 class = 'centered'>Search: <%= @search_term %></h3>

	<% if @type and @type == 'tag' %>
	<h5 class = 'centered'><a href = '/go?tag_search_term=<%= @search_term[1..@search_term.length-1] %>'>Link to <%= @search_term %></a></h5>
	<% else %>
	<h5 class = 'centered'><a href = '/go?search_term=<%= @search_term %>'>Link to search for <%= @search_term %></a></h5>
	<% end %>
<% end %>

<%= render partial: 'golinks', locals: {golinks: @golinks} %>

<%= will_paginate @golinks %>


<script type = 'text/javascript'>
var search_term = '<%= URI.escape(@search_term, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) %>';
$('#key-sort-link').attr('href', '/go/ajax_search?q='+search_term+'&sort_by=key');
$('#views-sort-link').attr('href', '/go/ajax_search?q=' + search_term+'&sort_by=views');
$('#updatedAt-sort-link').attr('href', '/go/ajax_search?q=' + search_term+'&sort_by=updatedAt');
</script>