<style type = 'text/css'>
.golink-type-image{
  height:15px;
}
/* go links styles*/
.link-row>.golink-type-td>{
  width:5%;
  overflow:hidden;
  max-width:20px;
}

.link-row>.golink-key-td{
  width:20%;
  max-width: 200px;
  overflow:hidden;
}
.link-row>.golink-description-td{
  width:20%;
  max-width:300px;
  overflow:hidden;
}



</style>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<h3 class = 'centered'>All Links</h3>
<table class = 'table table-hover table-condensed'>
	<thead>
		<tr>
			<th></th>
			<th>Key <a href = '/go/dashboard?sort_by=key' class = 'sort-link'><i class="fa fa-fw fa-sort" id = 'key-sort'></i></a></th>
			<th>Description</th>
			<th>Added By</th>
			<th>Last Updated <a href = '/go/dashboard' class = 'sort-link'><i class="fa fa-fw fa-sort" id = 'updatedAt-sort'></i></a></th>
			<th>Shared With</th>
			<th>Views <a href = '/go/dashboard?sort_by=views' class = 'sort-link'><i class="fa fa-fw fa-sort" id = 'views-sort'></i></a></th>
      <!-- <th>Rating <a href = '/go/dashboard?sort_by=rating desc' class = 'sort-link'><i class="fa fa-fw fa-sort" id = 'views-sort'></i></a></th> -->
		</tr>
	</thead>
	<tbody>
	<% @golinks.select{|x| x.can_view(current_member)}.each do |golink| %>
	<tr class = 'link-row' id = '<%= golink.parse_id %>-row'>
		<td class = 'golink-type-td'><img class = 'golink-type-image' src = '<%= ParseGoLink.type_to_image(golink.resolve_type) %>'></img></td>
		<td class = 'golink-key-td'><a href = '/go/redirect_id/<%= golink.id %>' target="_blank"><%= golink.key %></a>
		</td> 
		<td class = 'golink-description-td'>
			<%= golink.description %>
		</td>
		<td><%= golink.member_email %></td>
		<td><%= golink.updated_at.split('T')[0] %></td>
		<td><%= golink.get_permissions %></td>
		<td><%= golink.num_clicks ? golink.num_clicks : 0 %></td>


	</tr>
	<% end %>
	</tbody>
</table>


<%= will_paginate @golinks %>
