<% if @message %>
<p><%= @message %></p>
<% end %>

<h1>PBL Link Catalogue</h1>

<p><%= link_to 'Manage PBL Links', '/go/manage' %></p>
<p><%= link_to 'PBL Link Guide', '/go/guide' %></p>

<table class = 'table table-striped'>
	<thead>
		<th>Go Key</th>
		<th>Go Link</th>
		<th>Description</th>
	</thead>
	<tbody>
	<% @go_links.each do |golink| %>
	<tr><td><%= golink.key %></td> <td><%= link_to golink.url, golink.url %></td>
		<td><%= golink.description %></td></tr>
	<% end %>
	</tbody>
</table>
