<style type = 'text/css'>
#catalogue-container{
	margin-top:25px;
}
#catalogue-button-container{
	margin-top: 25px;
}
</style>

<style type = 'text/css'>
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 0px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    /*color: #666666;*/
    color: white;
    background-color:#1976d2;
    padding: 10 8px 10 10px;
    /*border-left: solid 1px #ccc;*/
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
  padding: 5px 20px 5px 20px;
}

#search-btn:hover{
  color:white;
  background-color:black;
}
#search-btn{
  color:white;
  padding:3px;
}
</style>

<style type = 'text/css'>
.form-control {
  border: 0;
  background-image: linear-gradient(#000000, #000000),linear-gradient(#d2d2d2,#d2d2d2);
  background-size: 0 2px,100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom,center calc(100% - 1px);
  background-color: transparent;
}
.add-link{
  text-decoration:none;
  color:white;
}
.add-link:hover{
  text-decoration:none;
  color:white;
}
</style>
<% if @message %>
<p style = 'display:none'><%= @message %></p>
<% end %>

<div style = 'margin-bottom:15px'>
<a href = '/go/manage' class = 'add-link' ><button class = 'btn btn-material-red-700 btn-raised'>Add New Link</button></a>
<!-- <a href = '/go/directories' class = 'add-link' ><button class = 'btn btn-material-blue-700 btn-raised'>Directories</button></a> -->

</div>

<div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input id = 'search-input' type="text" class="input-lg" placeholder="Search for a PBL link" />
                    <span class="input-group-btn">
                        <button id = 'search-btn' class="btn btn-info btn-lg btn-raised btn-material-blue-300" type="button">
                            <span id = 'search-icon' class="glyphicon glyphicon-search btn-raised"></span>
                        </button>
                    </span>
                </div>
            </div>


<% if @search_results %>
  <h3>Search Results for "<%= @search_term %>" (<%= @search_results.to_a.length %> Results)</h3>
  <% @search_results.each_with_index do |result, index| %>
  <div><b>Result <%= index+1 %></b></div>
  <p>
    <div><a href = '#'><img class = '' src = '<%= @link_hash[result._source.parse_id].get_type_image %>' height=25/></a></div>
    <div>score: <%= result._score %></div>
    <div>key: <a href = '/go/<%= result._source['parse_id'] %>/edit'><%= result._source['key'] %></a></div>
    <div>url: <a href = '<%= result._source['url'] %>'><%= result._source['url'] %></a></div>
    <div>description: <%= result._source['description'] %></div>
  <p>
  <% end %>
  <% end %>

  <h3>Current Directory: 
  <% if @backpaths.length > 0 %>
  <a href = '/go'>/</a>
  <% @backpaths.each do |subdir| %>
  <a href = "/go/?cwd=<%= subdir['path'] %>"><%= subdir['string'] %>/</a>
  <% end %>
  <% else %>
  <a href = '/go'>/</a>
  <% end %>
</h3>
<div>
<%= render partial: "cwd", locals: { subdirectories: @subdirectories, links: @dir_links, cwd: @cwd} %>
</div>
  
<% if @cwd_links and @cwd_links.length > 0 %>
<h3>Links in <%= @cwd %></h3>
<div>
<%= render partial: "catalogue", locals: { go_links: @cwd_links, member_hash: @member_hash} %>
</div>
<% else %>
<h3>No Links in <%= @cwd %></h3>
<% end %>


  <h3>Trending (<%= @trending_links.length %>)</h3>
  <div id = 'trending-container'></div>
  <%= render partial: "catalogue", locals: { go_links: @trending_links, member_hash: @member_hash} %>
 
  <h3>All Links (<%= @all_links.length %>)</h3>
  <%= render partial: "catalogue", locals: { go_links: @all_links, member_hash: @member_hash} %>
<!-- <div id = 'catalogue-container'></div> -->


<script type = 'text/javascript'>
function pullEventCatalogue(option){
  // pull data from /go/catalogue
  $.ajax({
      url: '/go/catalogue',
      type: 'GET',
      data: {'option': option},
      success:function(data){
        $('#catalogue-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        $('#catalogue-container').html('<h1>Failed to load link catalogue</h1>');
      }
    });
}
function pullTrendingLinks(option){
  // pull data from /go/catalogue
  $.ajax({
      url: '/go/catalogue',
      type: 'GET',
      data: {'option': option},
      success:function(data){
        $('#trending-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        $('#trending-container').html('<h1>Failed to load trending links</h1>');
      }
    });
}
function activateButtonActions(){
  $('.catalogue-btn').click(function(){
    $('.catalogue-btn.active').each(function(){
      $(this).removeClass('active');
    });
    $(this).addClass('active');
    // refresh event catalogue
    option = $(this).attr('id');
    $('#catalogue-container').html("");
    pullEventCatalogue(option);
  });
}
function activateSearchButton(){
  $('#search-btn').click(function(){
    search_term = $('#search-input').val();
    window.location.assign('/go?search_term='+search_term);
  });

  $('#search-input').keypress(function(e) {
    if(e.which == 13) {
       search_term = $('#search-input').val();
       window.location.assign('/go?search_term='+search_term);
    }
});
}
function pullCWD(){
  $.ajax({
      url: '/go/cwd',
      type: 'GET',
      data: {'cwd': '<%= @cwd %>'},
      success:function(data){
        $('#cwd-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        $('#cwd-container').html('<h1>Failed to load directories</h1>');
      }
    });
}
$(document).ready(function(){
  // pullCWD();
  // pullTrendingLinks('trending');
  // pullEventCatalogue('');
  

  activateButtonActions();
  activateSearchButton();

  
});
</script>
