<style type = 'text/css'>
#catalogue-container{
	margin-top:25px;
}
#catalogue-button-container{
	margin-top: 25px;
}
</style>

<style type = 'text/css'>
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 0px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    /*color: #666666;*/
    color: white;
    background-color:#1976d2;
    padding: 10 8px 10 10px;
    /*border-left: solid 1px #ccc;*/
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
  padding: 5px 20px 5px 20px;
}

#search-btn:hover{
  color:white;
  background-color:black;
}
#search-btn{
  color:white;
  padding:3px;
}
</style>

<style type = 'text/css'>
.form-control {
  border: 0;
  background-image: linear-gradient(#000000, #000000),linear-gradient(#d2d2d2,#d2d2d2);
  background-size: 0 2px,100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom,center calc(100% - 1px);
  background-color: transparent;
}
.add-link{
  text-decoration:none;
  color:white;
}
.add-link:hover{
  text-decoration:none;
  color:white;
}
</style>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Edit Link</h3>
      </div>
      <div class="modal-body" id = 'edit-modal-content'>
        ...
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button id = 'delete-link-btn' type="button" class="btn btn-default btn-material-red-500" data-dismiss="modal">Delete</button>
        <button id = 'save-link-btn' type="button" class="btn btn-material-blue-500">Save changes</button>
      </div>
    </div>
  </div>
</div>


<% if @message %>
<p style = 'display:none'><%= @message %></p>
<% end %>

<div style = 'margin-bottom:15px'>
<a href = '/go/manage' class = 'add-link' ><button class = 'btn btn-material-red-700 btn-raised'>Add New Link</button></a>
<!-- <a href = '/go/directories' class = 'add-link' ><button class = 'btn btn-material-blue-700 btn-raised'>Directories</button></a> -->

</div>

<div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input id = 'search-input' type="text" class="input-lg" placeholder="Search for a PBL link" />
                    <span class="input-group-btn">
                        <button id = 'search-btn' class="btn btn-info btn-lg btn-raised btn-material-blue-300" type="button">
                            <span id = 'search-icon' class="glyphicon glyphicon-search btn-raised"></span>
                        </button>
                    </span>
                </div>
            </div>


<% if @search_results %>
  <h3>Search Results for "<%= @search_term %>" (<%= @search_results.to_a.length %> Results)</h3>
  <% @search_results.each_with_index do |result, index| %>
  <% if @link_hash.keys.include?(result._source.parse_id) %> <!-- dont display anything if the result has been removed-->
  <div><b>Result <%= index+1 %></b></div>
  <p>
    <div><a href = '#'><img class = '' src = '<%= @link_hash[result._source.parse_id].get_type_image %>' height=25/></a></div>
    <div>score: <%= result._score %></div>
    <div>key: <a href = '/go/<%= result._source['parse_id'] %>/edit'><%= result._source['key'] %></a></div>
    <div>url: <a href = '<%= result._source['url'] %>'><%= result._source['url'] %></a></div>
    <div>description: <%= result._source['description'] %></div>
  <p>
  <% end %>
  <% end %>
  <% end %>


<!-- display only link type if the user has filtered by link type -->
<% if @link_type %>
<h3><img src = '<%= @type_image %>' height=45></img>&nbsp;Filtered by Type: <%= @link_type.capitalize %></h3>
<p><a href = '/go'>Remove Filter</a></p>
<%= render partial: "catalogue", locals: { go_links: @filtered_type_links, member_hash: @member_hash} %>
<% end %>

  

<div class = 'row'>
  <h3>Current Directory: 
  <% if @backpaths.length > 0 %>
  <a href = '/go'>/</a>
  <% @backpaths.each do |subdir| %>
  <a href = "/go/?cwd=<%= subdir['path'] %>"><%= subdir['string'] %>/</a>
  <% end %>
  <% else %>
  <a href = '/go'>/</a>
  <% end %>
</h3>
   <div class = 'col-md-3'> 
    <p>

    <%= render partial: "cwd", locals: { subdirectories: @subdirectories, links: @dir_links, cwd: @cwd} %>
  </p>
  </div>

   <div class = 'col-md-9'>
  <% if @cwd_links and @cwd_links.length > 0 %>

  <%= render partial: "catalogue", locals: { go_links: @cwd_links, member_hash: @member_hash} %>
  <% else %>
  <h3>No Links in <%= @cwd %></h3>
  <% end %>
  </div>

</div>

  





<script type = 'text/javascript'>
function pullEventCatalogue(option){
  // pull data from /go/catalogue
  $.ajax({
      url: '/go/catalogue',
      type: 'GET',
      data: {'option': option},
      success:function(data){
        $('#catalogue-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        $('#catalogue-container').html('<h1>Failed to load link catalogue</h1>');
      }
    });
}
function pullTrendingLinks(option){
  // pull data from /go/catalogue
  $.ajax({
      url: '/go/catalogue',
      type: 'GET',
      data: {'option': option},
      success:function(data){
        $('#trending-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        $('#trending-container').html('<h1>Failed to load trending links</h1>');
      }
    });
}
function activateButtonActions(){
  $('.catalogue-btn').click(function(){
    $('.catalogue-btn.active').each(function(){
      $(this).removeClass('active');
    });
    $(this).addClass('active');
    // refresh event catalogue
    option = $(this).attr('id');
    $('#catalogue-container').html("");
    pullEventCatalogue(option);
  });
}
function activateSearchButton(){
  $('#search-btn').click(function(){
    search_term = $('#search-input').val();
    window.location.assign('/go?search_term='+search_term);
  });

  $('#search-input').keypress(function(e) {
    if(e.which == 13) {
       search_term = $('#search-input').val();
       window.location.assign('/go?search_term='+search_term);
    }
});
}
function pullCWD(){
  $.ajax({
      url: '/go/cwd',
      type: 'GET',
      data: {'cwd': '<%= @cwd %>'},
      success:function(data){
        $('#cwd-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        $('#cwd-container').html('<h1>Failed to load directories</h1>');
      }
    });
}
function pullModalContentActions(){
  $('.link-modal').click(function(){
    id = $(this).attr('id');
    hidden_info = $(this).find('.hidden-edit-info').html();
    //change modal content
    $('#edit-modal-content').html(hidden_info);
    $('#myModalLabel').html($(this).find('.hidden-edit-info').attr('id'));
  });
}
function updateLinkActions(){
  $("#save-link-btn").click(function(){
  var id = $('#edit-modal-content').find("#go-id-input").val();
  url = $('#edit-modal-content').find("#go-url-input").val();
  description = $('#edit-modal-content').find("#go-description-input").val();
  directory = $('#edit-modal-content').find('#go-directory-input').val();
  console.log(url);
  console.log(description);
  console.log(directory);
  console.log(id);
  $.ajax({
      url: '/go/' + id + '/update',
      type: 'POST',
      data: {'url': url ,'description': description, 'directory': directory},
      success:function(data){
        location.reload();
      },
      error:function (xhr, textStatus, thrownError){
        alert('Failed');
      }
    });
});
}
function deleteLinkActions(){
   $("#delete-link-btn").click(function(){
  var id = $('#edit-modal-content').find("#go-id-input").val();
  window.location.replace("/go/"+id+"/destroy");
  // window.location = 
}); 
}

$(document).ready(function(){
  // pullCWD();
  // pullTrendingLinks('trending');
  // pullEventCatalogue('');
  

  activateButtonActions();
  activateSearchButton();
  pullModalContentActions();
  updateLinkActions();
  deleteLinkActions();

  
});
</script>
