<style type = 'text/css'>
.go-key-input{
	width:100px;
}
</style>

<script type = 'text/javascript'>
function updateActions(){
	$('#add-go-link-btn').click(function(){
		
		key = $('#go-key-input').val();
		url = $('#go-url-input').val();
		description = $('#go-description-input').val();

		path = '/go/create'
		successFunction = function (data){
			location.reload();
		}
		errorFunction = function(){
			alert("failed");
		}
		data = {'key': key, 'url': url, 'description':description}
		makeAjaxRequest(path, 'POST', data, successFunction, errorFunction);

	});
}
/**
* to be performed on page load
*/
$(document).ready(function(){
	updateActions();
});
</script>

<%= link_to 'Back go Catalogue', '/go' %>
<h1>Add A New Go Link</h1>
<button class = 'btn btn-default' id = 'add-go-link-btn'>Add Go Link</button>
<input id = 'go-key-input' type = 'text' class = 'form-control' placeholder = 'Go Key'/>
<input id = 'go-url-input' type = 'text' class = 'form-control' placeholder = 'Go Url (example: http://linkedin.com)'/>
<input id = 'go-description-input' type = 'text' class = 'form-control' placeholder = 'Description'/>

<h1>Manage Go Links</h1>

<table class = 'table table-striped'>
	<thead>
		<th>Go Key</th>
		<th>Go Link</th>
		<th>Description</th>
		<th>Actions</th>
	</thead>
	<tbody>
	<% @go_links.each do |golink| %>
	<tr><td><%= golink.key %></td> 
		<td><%= link_to golink.url, golink.url %></td>
		<td><%= golink.description %></td>
		<td><a href = '/go/destroy/?id=<%= golink.id %>'>Destroy</a></td>
	</tr>
	<% end %>
	</tbody>
</table>

