<style type = 'text/css'>
.go-input{
	width:100%;
	margin-top:3px;
	border: 0;
    box-shadow: none;
}
.error{
	color:red;
}
.navbar-material-blue-900.navbar {
  /*background-color: #0d47a1;*/
  /*color: rgba(255,255,255,.84);*/
  background-color: black;
}
.list-group{
	margin-bottom:0px;
}
</style>


<h1>Add A New PBL Link</h1>


		<!-- <button class = 'btn btn-material-red-700 btn-raised' id = 'add-go-link-btn'>Add PBL Link</button> -->
		<h3>Step 1: Choose an Alias</h3>

		<div><input id = 'go-key-input' type="text" class="go-input input-lg" placeholder="Link Alias (example: mission-doc)" /></div>
		<!-- <input id = 'go-key-input' type = 'text' class = '' placeholder = 'Link Alias (example: mission-doc)'/> -->
		<h3>Step 2: Paste URL</h3>
		<div><input id = 'go-url-input' type = 'text' class = 'go-input input-lg' placeholder = 'Link URL (example: http://linkedin.com)'/></div>
		<h3>Step 3: Provide a Description</h3>
		<div><input id = 'go-description-input' type = 'text' class = 'go-input input-lg' placeholder = 'Description (example: planning document for long movie)'/></div>
		
		<h3>Finish: Choose a Directory for your PBL Link</h3>
		<ul class = 'list-group'>
			<% @one_ply.each do |directory| %>
        	<li class = 'list-group-item'><a id = '<%= directory %>' class = 'directory-link' href = "#<%= directory.gsub('/', '').gsub('-', '') %>"><%= directory.split('/')[-1] %></a>
        		<% if @directory_tree[0][directory] and @directory_tree[0][directory].length != 0 %>
        		<ul class = 'list-group'>
        			<% @directory_tree[0][directory].each do |two_subdirectory| %>
        			<li class = 'list-group-item'><a id = '<%= two_subdirectory %>' class = 'directory-link' href = "#<%= two_subdirectory.gsub('/', '').gsub('-', '') %>"><%= two_subdirectory.split('/')[-1] %></a>
        				<% if @directory_tree[1][two_subdirectory] and @directory_tree[1][two_subdirectory].length != 0 %>
        				<ul class = 'list-group'>
        					<% @directory_tree[1][two_subdirectory].each do |three_subdirectory| %>
        						<li class = 'list-group-item'><a id = '<%= three_subdirectory %>' class = 'directory-link' href = "#<%= three_subdirectory.gsub('/', '').gsub('-', '') %>"><%= three_subdirectory.split('/')[-1] %></a></li>
        					<% end %>
        				</ul>
        				<% end %>

        			</li>
        			<% end %>
        		</ul>
        		<% end %>
        		</li>
        	</li>
        	<% end %>
        </ul>

        <h3>Optional (Advanced): Add Link to new Directory</h3>
        <div><input id = 'go-directory-input' type = 'text' class = 'go-input input-lg' placeholder = 'Example: /wd/portal/ui (note: only at-max 3-deep directories are valid)'></div>
        <button class = 'btn btn-default btn-raised btn-material-red-900' id = 'add-go-link-btn'>Add PBL Link to New Directory (Advanced)</button> 

<div class = 'row'>
<!-- <h1>Owned By Me</h1> -->
<!-- <div id = 'catalogue-container'></div> -->
</div>




<script type = 'text/javascript'>
var keys = $.parseJSON("<%= escape_javascript(@keys.to_json).html_safe %>");
function updateActions(){
	$('#add-go-link-btn').click(function(){
		errors = 0;
		$('.error').each(function(){
			errors += 1;
		});
		if(errors > 0 || $('#go-key-input').val() == ""){
			alert('Cannot save: there are errors');
		}
		else{
			key = $('#go-key-input').val();
			url = $('#go-url-input').val();
			description = $('#go-description-input').val();
			directory = $('#go-directory-input').val();
			$.ajax({
		      url: '/go/create',
		      type: 'POST',
		      data: {'key': key, 'url': url, 'description':description, 'directory': directory},
		      success:function(data){
		        window.location = '/go';
		      },
		      error:function (xhr, textStatus, thrownError){
		        alert("Failed. Your link key may have already been assigned!");
		      }
		  });
		}
	});
}

function directoryLinkActions(){
	$('.directory-link').click(function(event){
	    event.preventDefault();
	    dir = $(this).attr('id');
	    console.log(dir);

	    errors = 0;
		$('.error').each(function(){
			errors += 1;
		});
		if(errors > 0 || $('#go-key-input').val() == ""){
			alert('Cannot save: there are errors');
		}
		else{
			key = $('#go-key-input').val();
			url = $('#go-url-input').val();
			description = $('#go-description-input').val();
			directory = dir;
			$.ajax({
		      url: '/go/create',
		      type: 'POST',
		      data: {'key': key, 'url': url, 'description':description, 'directory': directory},
		      success:function(data){
		        window.location = '/go';
		      },
		      error:function (xhr, textStatus, thrownError){
		        alert("Failed. Your link key may have already been assigned!");
		      }
		  });
		}
	    
	  }             
	);
}
$(document).ready(function(){

directoryLinkActions();

$('#go-key-input').keyup(function(){
//check
	if($(this).hasClass('error')){
		$(this).removeClass('error');
	}
	var punctuation = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', ' ', ','];
	key = $(this).val();
	if(keys.indexOf(key) != -1){
		$(this).addClass('error');
	}
	else{
		for(var i=0;i<punctuation.length;i++){
			if(key.indexOf(punctuation[i]) != -1){
				$(this).addClass('error');
			}
		}
	}

});

$('#go-directory-input').keyup(function(){
//check
	if($(this).hasClass('error')){
		$(this).removeClass('error');
	}
	dir = $(this).val();
	var punctuation = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', ' ', ','];
	if(dir.substring(0,1) != "/"){
		$(this).addClass('error');
	}
	else{
		for(var i=0;i<punctuation.length;i++){
			if(dir.indexOf(punctuation[i]) != -1){
				$(this).addClass('error');
			}
		}
	}
	//make sure can split by /
	split = dir.split('//');
	if(split.length > 1){
		$(this).addClass('error');
	}
	nest = dir.split('/').length-1
	if (nest > 3){
		$(this).addClass('error');
	}
	console.log(nest);

	console.log(split);
});
updateActions();
});
</script>