<style type = 'text/css'>
.navbar-material-blue-900.navbar {
  /*background-color: #0d47a1;*/
  /*color: rgba(255,255,255,.84);*/
  background-color: black;
}
.member-seen{
	color:green;
}
.member-unseen{
	color:red;
}
</style>

<h1 style = 'text-align:center'><span class = 'mdi-action-trending-up' style = 'font-size:50px'></span>&nbsp;<%= @golink.key %></h1>
<div class = 'row'>
	<div class = 'col-md-8'>
	<h4>Click Table</h4>
	<table class = 'table table-condensed'>
		<thead>
			<th>Member</th>
			<th>Time</th>
		</thead>
		<tbody>
			<% @clicks.each do |click| %>
			<tr>
				<td><% if click.member_email %>
					<img src = '<%= @member_email_hash[click.member_email].gravatar_url %>' class = 'profile-image profile-image-small'></img>&nbsp;<%= @member_email_hash[click.member_email].name %>
					<% else %>
					Not Signed In
					<% end %>
				</td>
				<td><%= click.time_string %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	</div><!-- end of col 6 -->

	<div class = 'col-md-4'>
	<h4>Seen Unseen</h4>
	<% @committee_member_hash.keys.select{|x| x!= "GM"}.each do |committee| %>
		<h5><%= committee %></h5>
		<% @committee_member_hash[committee].each do |email| %>
			<% if @clicks.select{|x| x.member_email == email}.length != 0 %>
				<div class = 'member-div member-seen'><img src = '<%= @member_email_hash[email].gravatar_url %>' class = 'profile-image profile-image-small'></img>&nbsp;<%= @member_email_hash[email].name %>: <%= @clicks.select{|x| x.member_email == email}.length %></div>
			<% else %>
			<div class = 'member-div member-unseen'><img src = '<%= @member_email_hash[email].gravatar_url %>' class = 'profile-image profile-image-small'></img>&nbsp;<%= @member_email_hash[email].name %>: <%= @clicks.select{|x| x.member_email == email}.length %></div>
			<% end %>
		<% end %>
	<% end %>
	</div>
	<!-- end of col 6 -->
</div>