<style type = 'text/css'>
.link-row>.golink-key-td{
	width:20%;
	max-width: 200px;
	overflow:hidden;
}
.link-row>.golink-description-td{
	width:30%;
	max-width:300px;
	overflow:hidden;
}
.link-row>.golink-url-td{
	width:20%;
	max-width:200px;
	overflow:hidden;
}
.link-row>.golink-type-td{
	width: 5%;
	overflow:hidden;
}
.golink-type-image{
	height:15px;
}
#loading-gif{
  height:150px;
  position:fixed;
  left:500px;
  top:175px;
  display:none;
  z-index:5000;
}
/*search styles*/
#custom-search-input{
    /*padding: 3px;*/
    margin-top:25px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    max-width:100%;
    text-align:center;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    padding-bottom:0px;
    width:100%;
    text-align:center;
}
#search-input-group{
  text-align:center;
  width:100%;
}

.smalltext{
	font-size:10px;
}
</style>

<img src = 'https://cdn.wpfaster.org/wp-content/uploads/2013/06/loading-gif.gif' id = 'loading-gif'></img>

<div style = 'text-align:center'>
<h1><a href = '/go'><img src = '/assets/link-circle.png' height=40></img></a> My Links</h1>
<p>Links that you've recently added or edited</p>
</div>


<div id="custom-search-input">
      <div id = 'search-input-group' class="input-group">
          <input id = 'search-input' type="text" class="input-lg" placeholder="Search"/>
      </div>
  </div>

<!-- <p class = 'smalltext text-muted'>You can search through keys and descriptions by inputting a search term and pressing enter. You can filter by who you've shared your link with by typing in "Shared With: Only Officers", for example. Links are sorted by date updated.</p> -->
 <% if @filter and @filter != ''  %>
 <h3>Filtered by <div class = 'label label-default'><%= @filter %></div></h3>
 <a href = '/go/my_links'>Remove Filters</a>
 <% end %>


<div id = 'spacer' style = 'clear:both;height:25px'></div>
<table class = 'directory-table table table-hover table-condensed'>
	<thead>
		<tr>
			<th></th>
			<th>Key</th>
			<th>Description</th>
			<th>URL</th>
			<th>Shared With</th>
			<th>Last Updated</th>
		</tr>
	</thead>
	<tbody class = 'directory-tbody'>
	<% @golinks.each do |golink| %>
	<tr class = 'link-row' id = '<%= golink.id %>-row'>
		<td class = 'golink-type-td'><img class = 'golink-type-image' src = '<%= ParseGoLink.type_to_image(golink.resolve_type) %>'></img></td>
		<td class = 'golink-key-td'><input data-id = '<%= golink.id %>' id = '<%= golink.id %>-key-input' type = 'text' class = 'form-control edit-input' value = '<%= golink.key %>'></input>
		</td> 
		<td class = 'golink-description-td'>
			<input data-id = '<%= golink.id %>' type = 'text' id = '<%= golink.id %>-description-input' class = 'form-control edit-input' value = '<%= golink.description %>'></input>
		</td>
		<td class = 'golink-url-td'><input data-id = '<%= golink.id %>' type = 'text' id = '<%= golink.id %>-url-input' class = 'form-control edit-input' value = '<%= golink.url %>'></input>
		</td>
		<td class = 'golink-permissions-td'>
			<select  id = '<%= golink.id %>-permissions-input' class = 'form-control permissions-input' data-id = '<%= golink.id %>'>
				<option <% if golink.permissions and golink.permissions == 'Only Me' %>selected<% end %>>Only Me</option>
			  	<option <% if golink.permissions and golink.permissions == 'Only PBL' %>selected<% end %>>Only PBL</option>
			  	<option <% if golink.permissions and golink.permissions == 'Only Officers' %>selected<% end %>>Only Officers</option>
			  	<option <% if golink.permissions and golink.permissions == 'Only Execs' %>selected<% end %>>Only Execs</option>
			  	<option <% if not golink.permissions or golink.permissions == '' or (golink.permissions and golink.permissions == 'Anyone') %>selected<% end %>>Anyone</option>
			</select>
		</td>
		
		<td><%= golink.updated_at.split('T')[0] %></td>

		<td style='text-align:right'>
			<a href = 'javascript:void(0);' class = 'link-delete-btn' id = '<%= golink.id %>'>x
			</a>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate @golinks %>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script> -->
<%= javascript_include_tag 'jquery-ui.min.js' %>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script> -->

<script>

</script>
<script type = 'text/javascript'>
function showSpinner(){
	$('#loading-gif').show();
}
function hideSpinner(){
	$('#loading-gif').hide();
}

function saveEdit(id){

	key = $('#'+id+'-key-input').val();
    description = $('#'+id+'-description-input').val();
    url = $('#'+id+'-url-input').val();
    permissions = $("#" + id + "-permissions-input option:selected").text();
    // showSpinner();
    $('#'+id+'-row').fadeOut(100).fadeIn(100);
    $.ajax({
	      url: '/go/edit',
	      type: 'POST',
	      data: {'id':id, 'key':key, 'description':description, 'permissions':permissions, 'url':url},
	      success:function(data){
	        // hideSpinner();
	      },
	      error:function (xhr, textStatus, thrownError){
	        alert('failed');
	        // hideSpinner();
	      }
	  });
}
$('.edit-input').keypress(function(e){
	if(e.which == 13) {
        id = $(this).attr('data-id');
        saveEdit(id);
    }
});
$('.permissions-input').change(function(){
	id = $(this).attr('data-id');
	saveEdit(id);
});
$('.link-delete-btn').click(function(){
	// showSpinner();
	id = $(this).attr('id');
	row = $("#" + id + '-row');
	$(row).remove();
	$.ajax({
      url: '/go/delete',
      type: 'POST',
      data: {'id':id},
      success:function(data){
        // hideSpinner();
        
      },
      error:function (xhr, textStatus, thrownError){
        alert('failed');
        // hideSpinner();
      }
  });

});



$('#search-input').keypress(function(e){
	if(e.which == 13) {
        window.location = '/go/my_links?filter='+$(this).val();//my_links?filter='encodeURIComponent($(this).val());
    }
});
</script>

