
<style type = 'text/css'>
#directory-container{
   position: fixed;
  top: 50px;
  bottom: 0px;
  /*width: 100px;*/
  right:45px;
  /*background: #eee;*/
  margin: 10px;
  overflow: scroll;
}
.right-panel-div{ 
  /*indlcudes tag cloud and collections div*/
  margin-top:10px;
  padding:10px;
}

.label:hover{
  cursor:pointer;
}
.label.selected-tag{
  opacity:1.0;
}
.label{
  opacity:0.3;
  margin:2px;
}
.smalltext{
  font-size:10px;
}
#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width:100%;
    text-align:center;
    clear:both;
    display:inline-block;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    padding-bottom:0px;
    width:100%;
    text-align:center;
}
#search-input-group{
  text-align:center;
  width:100%;
}


.directory-section-div{
	clear:both;
	margin-bottom:15px;
	overflow:auto;
}
.mdi-hardware-keyboard-tab{
	color:rgba(0,0,0,0.1);
}

.navbar-material-blue-900.navbar {
  background-color: black;
}

#spinner-div{
  z-index: 5000;
    position: fixed;
    top:100px;
    left:500px;
    margin: auto;
    display:none;
}




#loading-gif{
  height:75px;
  display:none;
  z-index:5000;
}
.ui-helper-hidden-accessible{
  display:none;
}

.filter-button{
    border-radius: 5px;
    padding: 7px;
    box-shadow: none;
    background-color:#eee;
    border: none;
    margin-top: 10px;
}

#page-card-container{
  clear:both;
  display:inline-block;
}
.page-card{
  padding:15px;
  float:left;
  text-align:center;
  margin:10px;
}
.page-card>a{
  color:black;
}
</style>


<div style = 'text-align:center'>


  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title" id="myModalLabel">PBL Links Guide</h4> -->
      </div>
      <div class="modal-body">
        <img src = '/assets/pbl-links-guide.png' style = 'width:100%'></img>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <h1><a href = '/go'><img src = '/assets/link-circle.png' height=40></img></a> PBL Links</h1>

  <div id = 'page-card-container'>
    <div class = 'page-card'>
      <a href = 'javascript:void(0);' data-toggle="modal" data-target="#myModal">
      <div><i class = 'mdi-action-help'></i></div>
      <div><span>Guide</span></div>
      </a>
    </div>


    <div class = 'page-card'>
      <a href = '/go/my_links'>
      <div><i class = 'mdi-action-face-unlock'></i></div>
      <div><span>My Links</span></div>
      </a>
    </div>
   
    <div class = 'page-card'>
      <a href = '/go/add_landing_page'>
      <div><i class = 'mdi-content-add-circle'></i></div>
      <div><span>Add</span></div>
      </a>
    </div>
    <div class = 'page-card'>
      <a href = '/go/sharing_center'>
      <div><i class = 'mdi-social-share'></i></div>
      <div><span>Share</span></div>
      </a>
    </div>

  


    
  </div>

  <div style = 'clear:both;height:1px'></div>

  <div id="custom-search-input">
      <div id = 'search-input-group' class="input-group">
          <input id = 'search-input' type="text" class="input-lg" placeholder="Search for a PBL link" <% if @search_term %>value = '<%= @search_term %>'<% end %> />
      </div>
  </div>

  <div class = 'button-container'>
  <!-- <button class = 'filter-button' id = 'popular-link'>Popular Links</button> -->
  <!-- <button class = 'filter-button' id = 'recent-link'>Recently Visited</button> -->
  </div>


   <div id = 'page-card-container'>
    <div class = 'page-card'>
      <a href = 'javascript:void(0);' id = 'popular-link'>
      <div><i class = 'mdi-social-whatshot'></i></div>
      <div><span>Popular Links</span></div>
      </a>
    </div>


    <div class = 'page-card'>
      <a href = 'javascript:void(0);' id = 'recent-link'>
      <div><i class = 'mdi-action-history'></i></div>
      <div><span>Recently Visited</span></div>
      </a>
    </div>

      <div class = 'page-card'>
      <a href = 'javascript:void(0);' id = 'dashboard-link'>
      <div><i class = 'mdi-action-list'></i></div>
      <div><span>All Links</span></div>
      </a>
    </div>

    
   
  </div>




</div>
  <img src = 'https://cdn.wpfaster.org/wp-content/uploads/2013/06/loading-gif.gif' id = 'loading-gif'></img>


  <div id = 'results-container'>
    <% if @golinks %>

      <h3>Links</h3>
      <table class = 'table table-hover table-condensed'>
        <tbody>
        <% @golinks.each do |golink| %>
        <tr class = 'link-row' id = '<%= golink.id %>-row'>
          <td class = 'golink-key-td'><a href = '/go/redirect_id/<%= golink.id %>' target="_blank"><%= golink.key %></a>
          </td> 
          <td class = 'golink-description-td'>
            <%= golink.description %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <!-- end of search input -->

<!-- 
  <div class = 'row' style = 'text-align:center'>
      <h3>Welcome to PBL Links</h3>
      <p>Use the search bar above to find your Links. Click on a search result to be redirected to that link. Collections of links are groups of similar links and will also appear in the results box with a folder image next to them. Click on a collection to browse the links inside of it. If you've recently added links, you can edit them under the "my links" section. </p>
      
  </div> -->

<%= javascript_include_tag 'debounce.js' %>

<script type = 'text/javascript'>
function showSpinner(){
  $('#loading-gif').show();
}
function hideSpinner(){
  $('#loading-gif').hide();
}

function pullTheirLinks(){

}
$('.golink-creator').click(function(){

});

function pullDashboard(){
  showSpinner();
  $.ajax({
      url: '/go/dashboard',
      type: 'get',
      success:function(data){
        hideSpinner();
        $('#results-container').html('');
        $('#results-container').html(data);
        ajaxPaginate();
      },
      error:function (xhr, textStatus, thrownError){
        hideSpinner();
        alert('failed to pull dashboard');
      }
  });
}
$('#dashboard-link').click(function(){
  pullDashboard();
}); 

function ajaxPaginate(){
  $(".pagination a, .sort-link").click(function(e){
    e.preventDefault();
    pullPaginatedPage($(this).attr('href'));
  });
}
function pullPaginatedPage(url){
  showSpinner();
  $.ajax({
      url: url,
      type: 'get',
      success:function(data){
        hideSpinner();
        $('#results-container').html('');
        $('#results-container').html(data);
        ajaxPaginate();
      },
      error:function (xhr, textStatus, thrownError){
        hideSpinner();
        alert('failed to paginate');
      }
  });
}

function pullSearchResults(search_term){
  $.ajax({
      url: '/go/ajax_search?q='+search_term,
      type: 'get',
      success:function(data){
        hideSpinner();
        $('#results-container').html('');
        $('#results-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        hideSpinner();
        alert('failed to lookup ' + $(this).val());
      }
  });
}
var last_term = '';
$('#search-input').keyup($.debounce(250, function(){
  search_term = $(this).val();
  console.log(search_term);
  if(last_term == search_term){
    return;
  }
  last_term = search_term
  showSpinner();
  pullSearchResults(search_term);

}));

<% if @search_term %>
pullSearchResults('<%= @search_term %>');
<% end %>

$('#search-input').select();

// popular links and recent links shown on homepage
function getRecentLinks(){
  showSpinner();
  $.ajax({
      url: '/go/my_recent',
      type: 'get',
      success:function(data){
        hideSpinner();
        $('#results-container').html('');
        $('#results-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        hideSpinner();
        alert('failed to pull recent links');
      }
  });
}
$('#recent-link').click(function(){
  getRecentLinks();
});

function getPopularLinks(){
  showSpinner();
  $.ajax({
      url: '/go/popular',
      type: 'get',
      success:function(data){
        hideSpinner();
        $('#results-container').html('');
        $('#results-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        hideSpinner();
        alert('failed to pull recent links');
      }
  });
}
$('#popular-link').click(function(){
  getPopularLinks();
});

</script>




