
<style type = 'text/css'>
#directory-container{
   position: fixed;
  top: 50px;
  bottom: 0px;
  /*width: 100px;*/
  right:45px;
  /*background: #eee;*/
  margin: 10px;
  overflow: scroll;
}
.right-panel-div{ 
  /*indlcudes tag cloud and collections div*/
  margin-top:10px;
  padding:10px;
}

.label:hover{
  cursor:pointer;
}
.label.selected-tag{
  opacity:1.0;
}
.label{
  opacity:0.3;
  margin:2px;
}
.smalltext{
  font-size:10px;
}
#custom-search-input{
    /*padding: 3px;*/
    margin-top:25px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    max-width:100%;
    text-align:center;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    padding-bottom:0px;
    width:100%;
    text-align:center;
}
#search-input-group{
  text-align:center;
  width:100%;
}


.directory-section-div{
	clear:both;
	margin-bottom:15px;
	overflow:auto;
}
.mdi-hardware-keyboard-tab{
	color:rgba(0,0,0,0.1);
}

.navbar-material-blue-900.navbar {
  background-color: black;
}

#spinner-div{
  z-index: 5000;
    position: fixed;
    top:100px;
    left:500px;
    margin: auto;
    display:none;
}

/*autocomplete styles*/
.ui-autocomplete>li:hover{
  cursor:pointer;
  font-weight:bold;
}
.ui-autocomplete {
    list-style: none;
    max-width: 450px;
    background-color: rgba(250, 250, 250, 0.75);
    border-radius:5px;
}



#loading-gif{
  height:75px;
  display:none;
  z-index:5000;
}
.ui-helper-hidden-accessible{
  display:none;
}
/* go links styles*/

.link-row>.golink-key-td{
  width:25%;
  max-width: 200px;
  overflow:hidden;
}
.link-row>.golink-description-td{
  width:50%;
  max-width:300px;
  overflow:hidden;
}
</style>

<!--  -->
<!-- <h1 class = 'middle-title'><a href = '/go'><img src = '/assets/link-circle.png' height=75></img></a> PBL Links</h1>
    <p>PBL Links is a custom URL shortener with two main goals: simplifying the way we <b>access and discover PBL resources</b>. </p>

    <h4><a href = '/go/my_links'>My Links</a></h4>
    <h4><a href = '#'>Dashboard</a></h4>
</div> -->


<div style = 'text-align:center'>
  <!-- <h1>PBL Links</h1> -->

  <h1><a href = '/go'><img src = '/assets/link-circle.png' height=40></img></a> PBL Links</h1>

  <div id="custom-search-input" class = 'card'>
      <div id = 'search-input-group' class="input-group">
          <input id = 'search-input' type="text" class="input-lg" placeholder="Search for a PBL link" <% if @search_term %>value = '<%= @search_term %>'<% end %> />
      </div>
  </div>

  <h4><a href = '/go/my_links'>My Links</a></h4>
  <h4><a href = '/go/add_landing_page'>Add a Link</a></h4>
</div>
  <img src = 'https://cdn.wpfaster.org/wp-content/uploads/2013/06/loading-gif.gif' id = 'loading-gif'></img>


  <div id = 'results-container'>
    <% if @golinks %>

      <h3>Links</h3>
      <table class = 'table table-hover table-condensed'>
        <tbody>
        <% @golinks.each do |golink| %>
        <tr class = 'link-row' id = '<%= golink.id %>-row'>
          <td class = 'golink-key-td'><a href = '<%= golink.url %>' target="_blank"><%= golink.key %></a>
          </td> 
          <td class = 'golink-description-td'>
            <%= golink.description %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <!-- end of search input -->

<!-- 
  <div class = 'row' style = 'text-align:center'>
      <h3>Welcome to PBL Links</h3>
      <p>Use the search bar above to find your Links. Click on a search result to be redirected to that link. Collections of links are groups of similar links and will also appear in the results box with a folder image next to them. Click on a collection to browse the links inside of it. If you've recently added links, you can edit them under the "my links" section. </p>
      
  </div> -->

<%= javascript_include_tag 'debounce.js' %>

<script type = 'text/javascript'>
function showSpinner(){
  $('#loading-gif').show();
}
function hideSpinner(){
  $('#loading-gif').hide();
}

function pullSearchResults(search_term){
  $.ajax({
      url: '/go/ajax_search?q='+search_term,
      type: 'get',
      success:function(data){
        hideSpinner();
        $('#results-container').html('');
        $('#results-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        hideSpinner();
        alert('failed to lookup ' + $(this).val());
      }
  });
}
var last_term = '';
$('#search-input').keyup($.debounce(250, function(){
  search_term = $(this).val();
  console.log(search_term);
  if(last_term == search_term){
    return;
  }
  last_term = search_term
  showSpinner();
  pullSearchResults(search_term);

}));

<% if @search_term %>
pullSearchResults('<%= @search_term %>');
<% end %>

$('#search-input').select();
// var id = '';
 // $( "#search-input" ).autocomplete({
 //      source: function( request, response ) {
 //        $.ajax({
 //          url: "/go/ajax_search",
 //          dataType: "json",
 //          data: {
 //            q: request.term
 //          },
 //          success: function( data ) {
 //            response( data );
 //          }
 //        });
 //      },
 //      minLength: 2,
 //      select: function( event, ui ) {
 //        ui.item.value = ui.item.label;
 //        id = ui.item.id;
 //      },
 //    });


// function activateSearchButton(){
//   $('#search-input').keypress(function(e) {
//     if(e.which == 13) {
//        term = $('#search-input').val();
//        if(term.indexOf('collection: ')!= -1){
//           window.location.assign('/collections/'+id);
//        }
//        else if(term.indexOf('link: ')!= -1){
//         window.location.assign('/' + id + '/go');
//        }
//        else{
//         window.location.assign('/go/search/?search_term='+term);
//       }
//     }
// });
// }
// activateSearchButton();

</script>




