<!DOCTYPE html>
<html>
<head>

  <title>PBL Portal</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- include bootcards -->
  <!-- include a bootswatch theme -->
  <link href = 'http://bootswatch.com/paper/bootstrap.min.css' rel = 'stylesheet'>
</head>
<body>




<!-- add a header -->
<%= render "/layouts/navbar" %>
<div class="container">
<%= yield %>
<!-- end of header -->
</div>
</body>
</html>
