<!DOCTYPE html>
<html>
<head>
  <title>PBL Portal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<style type = "text/css">
#navlist {
  padding: 10px;
}
#navlist a {
  color: black;
}
#navlist .logo a {
  color: white;
  background-color: black;
}
#navlist .logo {
  margin-right: 10px;
}
#top_nav #navlist li a:hover {
	background-color:black;
	color: white;
}
</style>


<!-- add a header -->
<header class="header">
  <nav  id = "top_nav" class = "navbar navbar-default navbar-fixed-top" role = "navigation">
    <ul id = "navlist" class="nav nav-pills">
      <li class="logo"><%= link_to "[PBL][MP]", root_path%></li>
        <li><a href = "/tabling">Tabling</a></li>
        <li><a href = "/points/rankings">Points</a></li>
        <li><a href = "/points/mark_attendance">Attendance</a></li>
        <li><a href = "/commitments">Commitments</a></li>
        <li><a href = "/points/apprentice">Apprentice</a></li>
        <li><a href = "/members/all">Members</a></li>
        <li><a href = "#">Blog</a></li>
        <li><a href = "#">Assassins</a></li>
        <!-- log in and out -->
        <li>
        <% if @current_member %>
        <a href='/sign_out' class='right-floater'><%= @current_member.name %> Sign Out</a>
        <% else %>
        <a href = "/auth/google_oauth2" class='right-floater'>Sign In</a>
        <% end %>
        </li>
    </ul>
  </nav>
  <div style = "height:75px;clear:both"></div>
</header>
<%= yield %>
<!-- end of header -->
</body>
</html>
