<!DOCTYPE html>
<html>
<head>

  <title>PBL Portal</title>

<%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!--   
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


   -->
  <!-- include bootcards -->
  <!-- include a bootswatch theme -->
  <!-- <link href = 'http://bootswatch.com/paper/bootstrap.min.css' rel = 'stylesheet'> -->

  <!-- Bootcards CSS for desktop: -->
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css"> -->

<!-- Bootstrap and Bootcards JS -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script> -->
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- material design -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
<!-- <link rel = 'stylesheet' href = 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.css'> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>

<style type = 'text/css'>
#footer-search{
  border: 0;
    box-shadow: none;
}
body {
  padding-top: 75px;
}
a {
    color: #428bca;
}
a:hover{
  color: #428bca;
}

a:link {
    color: #428bca;
}

a:visited {
    color: #428bca;
}

a:hover {
    color: #428bca;
}

a:active {
    color: #428bca;
}
.label-primary{
  background-color: rgba(25, 118, 210, 0.79);
}
</style>

</head>
<body>




<!-- add a header -->
<%= render "/layouts/navbar" %>
<div class="container">
<%= yield %>
<!-- end of header -->
</div>

<footer class="footer">
      <div class="container col-md-6">
            <p class="text-muted">Created by PBL WD Fall 2015</p>
            <p class="text-muted">
              Trending Resources: 
              <% ParseGoLink.hash.values[0..9].each do |golink| %>
              <span><%= link_to golink.key, golink.url %></span>
              <% end %>
            </p>
            <p class = "text-muted">
              See <%= link_to 'PBL Links', '/go' %> for more resources
            </p>
            <p class = "text-muted">
              We invite feedback from anyone on our <%= link_to 'feedback form', '/go' %>
            </p>
      </div>
    </footer>

</body>
</html>
