<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Berkeley Web Development Committee">
    <meta name="keyword" content="Berkeley PBL Portal">

    <title>Berkeley PBL Portal</title>
    <!-- <%= favicon_link_tag 'favicon.ico' %> -->
    <link rel="icon" 
          type="image/png" 
          href="/assets/pbl-logo-circle.png">
    <link href="/assets/pbl-logo.png" rel="apple-touch-icon" />
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag "application" %>
      <%= javascript_include_tag "application" %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">



  </head>

  <body>

  <section id="container" >

      <!--header start-->
      <header class="header black-bg">
              <div id = 'sidebar-toggle' class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>Berkeley PBL</b></a>
            <!--logo end-->
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/sign_out">Logout</a></li>
              </ul>
            </div>
        </header>
      <!--header end-->

      <!--sidebar start-->
      <aside>
        <% if current_member %>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="#"><img src="<%= current_member.gravatar_url %>" width="120"></a></p>
                  <h5 class="centered">
                  <div><%= current_member.committee %> <%= current_member.position ? current_member.position.capitalize : 'No Position' %></div>
                  <div><%= current_member.email %></div></h5>
                    
                  <li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/go" >
                          <i class="fa fa-desktop"></i>
                          <span>PBL Links</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/members" >
                          <i class="fa fa-cogs"></i>
                          <span>Members</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/tabling" >
                          <i class="fa fa-book"></i>
                          <span>Tabling</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="/points" >
                          <i class="fa fa-book"></i>
                          <span>Points</span>
                      </a>
                  </li>


              </ul>
              <!-- sidebar menu end-->
          </div>
        <% end %>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

          <%= yield %>
          <!-- end of header -->
          </div>
                <footer class="footer" style = 'margin-top:25px'>
      <div class="container">
            <p class="text-muted">Created by PBL WD Fall 2015</p>
      </div>
    </footer>
      
          </section>
      </section>


      <!--main content end-->
      <!--footer start-->


  </section>





    <!-- js placed at the end of the document so the pages load faster -->
<script type = 'text/javascript'>
var original_margin = "210px";
var new_margin = "0px";
var toggled = false;
$('#sidebar-toggle').click(function(){
  if (!toggled){
    margin = new_margin;
    toggled = true;
  }
  else{
    margin = original_margin;
    toggled = false;
  }
  $('#main-content').css({ "margin-left": margin});
  $('#sidebar').toggle();
  
})
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>



  


  
  

  </body>
</html>
