<script type='text/javascript'>

function updatePersonalInformation(){
	$('#update-info-btn').click(function(){
		name = $('#name-input').val();
		email = $("#email-input").val();
		phone = $("#phone-input").val();
		major = $("#major-input").val();
		blurb = $("#blurb-input").val();
    swipy_data = $("#swipy-input").val();
    registration_comment = $("#registration-comment-input").val();
		reapprove = false;
		if(! $('#approve-input').prop('checked')){
			reapprove = true;
		}
		//send request to update_account
		$.ajax({
          url:'/members/update_account',
          type: "GET",
          data: {"name": name, 
          		"email": email,
          		"phone": phone,
          		"major": major,
          		"blurb": blurb,
              "registration_comment": registration_comment,
              "swipy_data":swipy_data
      	}
        }).done(function(data){
            location.reload();
            // window.location = '/'
            // alert('success');
            
        }).fail(function(data){
            alert('failed');
        });
      });
}
$(document).ready(function(){
	updatePersonalInformation();
});
</script>
<style type='text/css'>
</style>
<h1>Welcome <%= current_member.name %></h1>
<div class='form-field-div'><button class='btn btn-default' id='update-info-btn'>Update Account</button></div>

<div class = 'col-md-4'>
<h2>Personal Information</h2>
<div class='form-field-div'><b>Name</b> <input id='name-input' class = 'form-control' type='text' value='<%= current_member.name %>'/></div>
<div class='form-field-div'><b>Email</b> <input id='email-input' class = 'form-control' type='text' value='<%= current_member.email %>'/></div>
<div class='form-field-div'><b>Phone</b> <input id= 'phone-input' class = 'form-control' type='text' value='<%= current_member.phone %>'/></div>
<div class='form-field-div'><b>Major</b> <input id= 'major-input' class = 'form-control' type='text' value='<%= current_member.major %>'/></div>
<div class='form-field-div'><b>Blurb</b> <textarea id='blurb-input' class = 'form-control' ><%= current_member.blurb %></textarea></div>
<div class='form-field-div'><b>Swipy Data</b> <input id= 'swipy-input' type='text' class = 'form-control' value='<%= current_member.swipy_data %>'/></div>
<div class = 'form-field-div'><b>Registration Comment</b><textarea class = 'form-control' id='registration-comment-input'><%= current_member.registration_comment %></textarea></div>
</div>


<div class = 'col-md-2'></div>

<div id = 'col-md-4'>
<h2>Committee Information</h2>
<% if current_member.current_committee %>
  <h3>You are <%= current_member.position %> in <%= current_member.current_committee.name %></h3>
<% else %>
  <h3>You are currently not in a committee</h3>
<% end %>
<h4><a href = '/members/<%= current_member.id %>/edit_confirmation'>Request Committee Change</a></h4>
</div>
