<%= javascript_include_tag "jquery.tablesorter", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery-latest", "data-turbolinks-track" => true %>

<h1>Welcome to PBL Members Portal</h1>
<br>

<h2>Executive</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
    	<% if data['committee'] == "Executive" %>
    	<tr>
    		<td><%= data['name'] %></td>
	        <td><%= data['committee'] %></td>
	        <td><%= data['email'] %></td>
	        <td><%= data['phone'] %></td>
	        <td><%= data['position'] %></td>
	        <td><%= data['semester'] %></td>
    	</tr>
   	 	<% end %>
   	<% end %>
  </tbody>
</table>

<h2>Community Service</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
    	<% if data['committee'] == "Community Service" %>
    	<tr>
    		<td><%= data['name'] %></td>
	        <td><%= data['committee'] %></td>
	        <td><%= data['email'] %></td>
	        <td><%= data['phone'] %></td>
	        <td><%= data['position'] %></td>
	        <td><%= data['semester'] %></td>
    	</tr>
   	 	<% end %>
   	<% end %>
  </tbody>
</table>


<h2>Consulting</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
    	<% if data['committee'] == "Consulting" %>
    	<tr>
    		<td><%= data['name'] %></td>
	        <td><%= data['committee'] %></td>
	        <td><%= data['email'] %></td>
	        <td><%= data['phone'] %></td>
	        <td><%= data['position'] %></td>
	        <td><%= data['semester'] %></td>
    	</tr>
   	 	<% end %>
   	<% end %>
  </tbody>
</table>

<h2>Finance</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
    	<% if data['committee'] == "Finance" %>
    	<tr>
    		<td><%= data['name'] %></td>
	        <td><%= data['committee'] %></td>
	        <td><%= data['email'] %></td>
	        <td><%= data['phone'] %></td>
	        <td><%= data['position'] %></td>
	        <td><%= data['semester'] %></td>
    	</tr>
   	 	<% end %>
   	<% end %>
  </tbody>
</table>

<h2>Historian</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
    	<% if data['committee'] == "Historian" %>
    	<tr>
    		<td><%= data['name'] %></td>
	        <td><%= data['committee'] %></td>
	        <td><%= data['email'] %></td>
	        <td><%= data['phone'] %></td>
	        <td><%= data['position'] %></td>
	        <td><%= data['semester'] %></td>
    	</tr>
   	 	<% end %>
   	<% end %>
  </tbody>
</table>

<h2>Internal Networking</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
    	<% if data['committee'] == "Internal Networking" %>
    	<tr>
    		<td><%= data['name'] %></td>
	        <td><%= data['committee'] %></td>
	        <td><%= data['email'] %></td>
	        <td><%= data['phone'] %></td>
	        <td><%= data['position'] %></td>
	        <td><%= data['semester'] %></td>
    	</tr>
   	 	<% end %>
   	<% end %>
  </tbody>
</table>

<h2>Marketing</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
    	<% if data['committee'] == "Marketing" %>
    	<tr>
    		<td><%= data['name'] %></td>
	        <td><%= data['committee'] %></td>
	        <td><%= data['email'] %></td>
	        <td><%= data['phone'] %></td>
	        <td><%= data['position'] %></td>
	        <td><%= data['semester'] %></td>
    	</tr>
   	 	<% end %>
   	<% end %>
  </tbody>
</table>


<h2>Professional Development</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
    	<% if data['committee'] == "Professional Development" %>
    	<tr>
    		<td><%= data['name'] %></td>
	        <td><%= data['committee'] %></td>
	        <td><%= data['email'] %></td>
	        <td><%= data['phone'] %></td>
	        <td><%= data['position'] %></td>
	        <td><%= data['semester'] %></td>
    	</tr>
   	 	<% end %>
   	<% end %>
  </tbody>
</table>

<h2>Publications</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
    	<% if data['committee'] == "Publications" %>
    	<tr>
    		<td><%= data['name'] %></td>
	        <td><%= data['committee'] %></td>
	        <td><%= data['email'] %></td>
	        <td><%= data['phone'] %></td>
	        <td><%= data['position'] %></td>
	        <td><%= data['semester'] %></td>
    	</tr>
   	 	<% end %>
   	<% end %>
  </tbody>
</table>

<h2>Social</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
      <% if data['committee'] == "Social" %>
      <tr>
        <td><%= data['name'] %></td>
          <td><%= data['committee'] %></td>
          <td><%= data['email'] %></td>
          <td><%= data['phone'] %></td>
          <td><%= data['position'] %></td>
          <td><%= data['semester'] %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Web Developement</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>semesters</th>
    </tr>
  </thead>

  <tbody>
    <% @current.each do |data| %>
    	<% if data['committee'] == "Web Development" %>
    	<tr>
    		<td><%= data['name'] %></td>
	        <td><%= data['committee'] %></td>
	        <td><%= data['email'] %></td>
	        <td><%= data['phone'] %></td>
	        <td><%= data['position'] %></td>
	        <td><%= data['semester'] %></td>
    	</tr>
   	 	<% end %>
   	<% end %>
  </tbody>
</table>

<br>
<h2>Alumni</h2>
<table class='table table-striped' >
  <thead>
    <tr>
      <th>name</th>
      <th>email</th>
      <th>phone</th>


    </tr>
  </thead>

  <tbody>
    <% @alumni.each do |data| %>
      <tr>
        <td><%= data['name'] %></td>
        <td><%= data['email'] %></td>
        <td><%= data['phone'] %></td>

      </tr>
    <% end %>

  </tbody>
</table>
<br>

