<script type='text/javascript'>
function approveAll(){
    $('#approve-btn').click(function(){
        var r = confirm('would you like to save changes?');
        if(!r){
            return;
        }
        var member_data = new Array();
        $('.member-row').each(function(){
            var new_member = {};

            var committee = $(this).children('.committee')[0];
            var committeeDropdown = $(committee).children()[0];
            var committeeSelectedID = $(committeeDropdown).find('option:selected').attr('id');

            var position = $(this).children('.position')[0];
            var positionDropdown = $(position).children()[0];
            var positionSelectedID = $(positionDropdown).find('option:selected').attr('id');
            var positionSelectedText = $(positionDropdown).find('option:selected').text();

            new_member.id = $(this).attr('id');
            new_member.committee_id = committeeSelectedID;
            new_member.position_id = positionSelectedID;
            new_member.position_name = positionSelectedText;

            var should_approve = $(this).children('.approve-checkbox')[0];
            var approve_checkbox = $(should_approve).children()[0];
            if($(approve_checkbox).is(':checked')){
            	//only push if it is checked
           		member_data.push(new_member);
            }
            
        });
        console.log(member_data);
        $.ajax({
          url:'/members/process_new',
          type: "POST",
          data: {"member_data": member_data}
        }).done(function(data){
            // location.reload();
            // alert('success');
            // locaation.l
            location.reload();
        }).fail(function(data){
            alert('failed');
        });

    });
}
function enableButtonActions(){
	$('.hide-btn').click(function(){
		$(this).parent().parent().remove();
	});
}
$(document).ready(function(){
	enableButtonActions();
    approveAll();
});


</script>

<style type = 'text/css'>
.choice-btn:hover{
	cursor:pointer;
	font-weight:bold;
}
</style>

<h1>Manage New Members</h1>

<button id= 'approve-btn' class = 'btn btn-default'>Approve Checked Members</button>

<table class='table table-striped' id='table-1'>

	<div id='original-thead'>
	<thead class='locked' id = 'original-fixed-head'>
		<th>Name</th>
		<th>Committee</th>
		<th>Position</th>
		<th>Email</th>
		<th>Registration Comments</th>
		<th>Approve?</th>
		<th>Actions</th>
	</thead>
	</div>
	<tbody>
		<% @unconfirmed.all.each do |new_member| %>
			<tr id = '<%= new_member.id %>' class = 'member-row'>
				<td ><%= new_member.name %></td>
				<td class = 'committee'>
					<select class = 'form-control'>
						<% @committees.each do |committee| %>
							<option id='<%= committee.id %>'><%= committee.name %></option>
						<% end %>
					</select>
				</td>
				<td class = 'position'>
					<select class = 'form-control'>
						<% @positions.each do |position| %>
							<option id='<%= position.tier %>'><%= position.name %></option>
						<% end %>
					</select>
				</td>
				<td> <%= new_member.email %></td>
				<td><%= new_member.registration_comment %></td>
				<td class = 'approve-checkbox'>
					<input class = 'form-control' type="checkbox" id = 'approve-<%= new_member.id %>'/>
					<!-- <span class = 'choice-btn hide-btn'>hide</span> -->
					<!-- <span class = 'choice-btn approve-btn'>approve</span> -->
				</td>
				<td><a href = '/members/<%= new_member.id %>/destroy'>Destroy</a></td>
			</tr>
		<% end %>
	</tbody>

</table>

