
<style type = 'text/css'>
.dashboard-panel-title{
	color:white;
}
.dashboard-panel-blue{
	background-color: black;
}
.home-card-small{
	padding: 0px 10px 0px 10px;
	margin:15px;
}
.post-title{
	color:black;
	text-align:center;
	padding-bottom:5px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.post-div{
	border:1px solid rgba(0,0,0,0.1);
	margin:10px;	
	background-color: rgba(247, 247, 247, 0.85);
  padding: 10px;
}
.right-card{
	border:1px solid rgba(0,0,0,0.1);
	margin:10px;	
	background-color: rgba(247, 247, 247, 0.85);
  padding: 10px;
}
#main-title{
	color:black;
	font-size:50px;
	font-weight:bold;
}
.black{
	color:black;
}
</style>

<style type = 'text/css'>
</style>
<%= stylesheet_link_tag "golink_catalogue" %>
<%= render 'go/catalogue_modal' %>

<h1 class = 'centered' id = 'main-title'>PBL Members Portal</h1>
<div class = 'row'>
	<div class = 'col-md-5'>

		<!-- <div class="home-card">
		    <h3><span class = 'mdi-social-notifications'></span>&nbsp;Notifications</h3>
		    <div class = 'right-card shadow-z-1'>
		    	<h4>Announcements</h4>
			    <ul class = 'list-group'>
			    	<li class = 'list-group-item'>Tabling form at <a href = 'http://pbl.link/tabling'>pbl.link/tabling</a></li>
			    	<li class = 'list-group-item'>Chalking form at <a href = 'http://pbl.link/chalking'>pbl.link/chalking</a></li>
			    	<li class = 'list-group-item'>Handbilling form at <a href = 'http://pbl.link/handbilling'>pbl.link/handbilling</a></li>
			    	<li class = 'list-group-item'>Search <b>#rweek</b> on PBL Links for all Rweek materials</li>
			    </ul>
			</div>
		</div> -->	



		<div class = 'home-card'>
			<h3 class = 'black'><span class = 'mdi-notification-event-note'></span>&nbsp;Upcoming Events</h3>
			<p>Visit <a href = 'http://pbl.link/calendar'>pbl.link/calendar</a> for the Official Events Calendar</p>
			<div class = 'right-card' id = 'events-container'>
				<img src = 'http://wpc.077d.edgecastcdn.net/00077D/fender/images/2013/template/drop-nav-loader.gif' height=100></img>
			</div>
		</div>



		
	</div>
	<!-- end of col md 6 -->

<div class = 'col-md-7'>
	<h3 class = 'black'><span class = 'mdi-action-grade'></span>&nbsp;Pinned Posts</h3>
	<% @posts.each do |post| %>
	<div class = 'post-div'>
		<h3 class = 'post-title'><%= post.title %></h3>
		<div><%= post.content.html_safe %></div>
	</div>
	<% end %>
</div>
<!-- end of col 2 -->
</div>
<!--  end of row -->

<script type = 'text/javascript'>
<% if @current_member %>
var email = "<%= @current_member.email %>";
<% else %>
var email = "asdf";
<% end %>
</script>
<%= javascript_include_tag "golink_catalogue" %>
<%= javascript_include_tag "calendar_pull" %>
