
<style type = 'text/css'>
.dashboard-panel-title{
	color:white;
}
.dashboard-panel-blue{
	background-color: black;
}
.home-card-small{
	/*border: 1px solid rgba(0, 0, 0, 0.1);*/
	/*background-color:white;*/
	padding: 0px 10px 0px 10px;
	margin:15px;
}

</style>
<%= stylesheet_link_tag "golink_catalogue" %>
<%= render 'go/catalogue_modal' %>
<div class = 'row'>

	<div class = 'col-md-4'>
		<div class="home-card-small">
		    <h3><span class = 'mdi-social-notifications'></span>&nbsp;Announcements</h3>
		    <ul class = 'list-group'>
		    	<li class = 'list-group-item'>PD Challenge ends tomorrow!</li>
		    </ul>
		</div>	

		<div class="home-card-small">
		    <h3><span class = 'mdi-action-toc'></span>&nbsp;TO DO</h3>
		    <ul class = 'list-group'>
		    	<li class = 'list-group-item'>Sign up for 3 Concessions</li>
		    	<li class = 'list-group-item'>Fill out mid-semester survey</li>
		    	<li class = 'list-group-item'>Pay for Yearbook</li>
		    </ul>
		</div>	
	</div>

<div class = 'col-md-8'>
<div class = 'home-card'>
		<h3><span class = 'mdi-notification-folder-special'></span>&nbsp;Starred Resources</h3>
		<%= render partial: "go/catalogue", locals: { go_links: @trending_links, favorite_links: @favorites} %>
</div>
<div class = 'home-card'>
		<% if @favorites %>
		<h3><span class = 'mdi-action-favorite'></span>&nbsp;Favorite Links</h3>
		<%= render partial: "go/catalogue", locals: { go_links: @favorite_links, favorite_links: @favorites} %>
		<% end %>
</div>

</div>
</div>

<script type = 'text/javascript'>
<% if @current_member %>
var email = "<%= @current_member.email %>";
<% else %>
var email = "asdf";
<% end %>
</script>
<%= javascript_include_tag "golink_catalogue" %>

