<style type = 'text/css'>
.dashboard-panel-title{
	color:blue;
}
.dashboard-panel-blue{
	background-color: black;
}
.home-card-small{
	padding: 0px 10px 0px 10px;
	margin:15px;
}
.post-title{
	color:black;
	text-align:center;
	padding-bottom:5px;
}
.post-content> ul li{
	list-style:inherit !important;
}
.post-content:hover{
	cursor:pointer;
}
.hidden-content{
	max-height:300px;
	overflow:hidden;
}
.label-default{
	background-color:black !important;
}
.post-div{
	border:1px solid rgba(0,0,0,0.1);
	margin:10px;	
	background-color:white;
  	padding: 10px;
}
.right-card{
	border:1px solid rgba(0,0,0,0.1);
	margin:10px;	
	/*background-color: rgba(247, 247, 247, 0.85);*/
	background-color:white;
  padding: 10px;
}
#main-title{
	color:red;
	font-size:50px;
	font-weight:bold;
}
.black{
	color:black;
}
#featured-content-area{
	padding-top:0px;
	padding:25px;
}
#welcome-title {
	color: blue;
}
</style>

<style type = 'text/css'>
</style>
<%= stylesheet_link_tag "golink_catalogue" %>
<%= render 'go/catalogue_modal' %>
<!-- <h1 class = 'centered'><img src = 'http://www.medhatspca.ca/sites/default/files/news_photos/2014-Apr-15/node-147/cute-little-cat.jpg' height=300></img></h1>
-->
<h1>jason shan is da bomb</h1>
<h1 class = 'centered' id = 'main-title'>I am a cool dude PBL Members Portal: Staging</h1>
<h2 class = 'centered black' id = 'welcome-title'>Welcome, <%= current_member.name %>, WD is the best</h2>
<div class = 'row black' id = 'featured-content-area'>
	<%= @home_featured ? @home_featured.html_safe : "" %>
</div>
<div class = 'row'>
	<div class = 'col-md-5'>

		<% if @tabling_slot %>
		<div class = 'home-card'>
			<h3 class = 'black'><span class = 'fa fa-table'></span>&nbsp;Tabling</h3>
			<div class = 'right-card' id = 'tabling-container'>
				<div class = 'label label-default'><%= TablingManager.time_string(@tabling_slot.time) %></div>
				<% @tabling_slot.get_member_emails.each do |email| %>
				<div><img src = '<%= @email_hash[email].gravatar_url %>' class = 'profile-image-tiny'>&nbsp;<%= @email_hash[email].name %></div>
				<% end %>
			</div>
		</div>
		<% end %>

		<% if @points_data %>
		<div class = 'home-card'>
			<h3 class = 'black'><span class = "fa fa-trophy"></span>&nbsp;Points</h3>
			<div class = 'right-card' id = 'points-container'>
				<div><h4><%= @points_data['points'] %> points earned</h4></div>
				<ul>
					<% @points_data['attended'].each do |attended| %>
					<li><%= attended.name %> (<%= attended.points %>)</li>
					<% end %>
				</ul>
				<a href= '/points/attendance'>Mark Attendance</a>
			</div>

		</div>
		<% end %>

		<div class = 'home-card'>
			<h3 class = 'black'><span class = 'mdi-notification-event-note'></span>&nbsp;Upcoming Events</h3>
			<p>Visit <a href = 'http://pbl.link/calendar'>pbl.link/calendar</a> for the Official Events Calendar</p>
			<div class = 'right-card' id = 'events-container'>
				<img src = 'http://wpc.077d.edgecastcdn.net/00077D/fender/images/2013/template/drop-nav-loader.gif' height=100></img>
			</div>
		</div>
	</div>
	<!-- end of col md 6 -->

<div class = 'col-md-7'>
	<h3 class = 'black'><span class = 'mdi-action-grade'></span>&nbsp;Pinned Posts</h3>
	<% @posts.each do |post| %>
	<div class = 'post-div'>
		<h3 class = 'post-title'><%= post.title %></h3>
		<div class = 'top-data'>
			<div class = 'pull-right'><img src = '<%= @email_hash[post.last_editor].gravatar_url %>' class = 'profile-image-small'></img></div>
			<div class = 'time-tag label label-default'><%= post.time_string %></div>
			<% post.get_tags.each do |tag| %>
				<div class = 'label label-primary'><%= tag %></div>
			<% end %>
		</div>
		
		<div class = 'post-content hidden-content'><%= post.content.html_safe %></div>
	</div>
	<% end %>
</div>
<!-- end of col 2 -->
</div>
<!--  end of row -->

<script type = 'text/javascript'>
<% if @current_member %>
var email = "<%= @current_member.email %>";
<% else %>
var email = "asdf";
<% end %>
</script>
<%= javascript_include_tag "golink_catalogue" %>
<%= javascript_include_tag "calendar_pull" %>

<script>
$('.post-content').click(function(){
	if($(this).hasClass('hidden-content')){
		$(this).removeClass('hidden-content');
	}
	else{
		$(this).addClass("hidden-content");
	}
});
</script>
