


<% if @current_member %>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Committee</th>
      <th>Role</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Year</th>
      <th>Major</th>
    </tr>
  </thead>

  <tbody>
    <% @current_members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.committee %></td>
        <td><%= member.role.capitalize %></td>
        <td><%= member.email %></td>
        <td><%= member.phone %></td>
        <td><%= member.year %></td>
        <td><%= member.major %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
<h3>Please sign in to view the portal.</h3>
<% end %>
<br>
