
<h1>Welcome to PBL Members Portal</h1>

<% if @current_member %>
<h2>Current Members</h2>
<br>
<table class='table table-striped'>
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>major</th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |data| %>
      <tr>
        <td><%= image_tag avatar_url(data['email']), :height=>35 %></td>
        <td><a href = '/members/<%= data["id"] %>'><%= data['name'] %></a></td>
        <td><a href = '/members/index_committee?id=<%= data['committee_id'] %>' ><%= data['committee'] %></a></td>
        <td><%= data['email'] %></td>
        <td><%= data['phone'] %></td>
        <td><%= data['position'] %></td>
        <td><%= data['major'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
<h3>Please sign in to view the portal.</h3>
<% end %>
<br>
