<h1>Welcome to PBL Members Portal</h1>
<h2>Current Members</h2>
<br>
<table class='table table-condensed table-hover table-bordered'>
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>committee</th>
      <th>email</th>
      <th>phone</th>
      <th>position</th>
      <th>major</th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |data| %>
      <tr>
        <td><%= image_tag avatar_url(data['email']), :height=>35 %></td>
        <td><a href = '/members/<%= data["id"] %>'><%= data['name'] %></a></td>
        <td><%= data['committee'] %></td>
        <td><%= data['email'] %></td>
        <td><%= data['phone'] %></td>
        <td><%= data['position'] %></td>
        <td><%= data['major'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

