<style type = 'text/css'>
.grid-image{
	height:300px;
	float:left;
	margin:5px;
}

</style>
<%= render partial: 'layouts/modal' %>
<!-- end of modal -->
<div class = 'row'>
	<% @members.each do |member| %>
	<a href= 'javascript:void(0)' class = 'member-link' data-name = '<%= member.name %>' data-email = '<%= member.email %>' data-toggle="modal" data-target="#myModal"><img src = '<%= member.gravatar_url %>' class = 'grid-image'></img></a>
	<% end %>
</div>

<%= javascript_include_tag 'member_modal.js' %>
